.today-date {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Roboto';
}

.rectangle {
    height: 5px;
    background: #000;
}

.paymentPrice {
    color: rgb(16, 29, 37)
}

.paymentPrice b {
    color: rgb(255, 75, 30);
}

.eventTableDashboard li {
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 0px;
}

.fullWidth {
    width: 100% !important;
}