AddDefaultCharset UTF-8
AddType application/x-httpd-php71 .php
DirectoryIndex index.html index.php login.html

php_value upload_max_filesize 9G
php_value post_max_size 9G
php_value max_execution_time 200
php_value max_input_time 200
php_value memory_limit 256M

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !\.css$
RewriteCond %{REQUEST_URI} !\.js$
RewriteCond %{REQUEST_URI} !\.php$
RewriteCond %{REQUEST_URI} !\.ttf$
RewriteCond %{REQUEST_URI} !\.woff$
RewriteCond %{REQUEST_URI} !\.woff2$
RewriteCond %{REQUEST_URI} !img/(.*)\.
RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]{3,4}
RewriteRule !^((backend/?([a-zA-Z]+)?)|(panel/?([a-zA-Z]+)?))$ login.html
RewriteRule ^backend/?([a-zA-Z]+)?$ core/index.php
RewriteRule ^(panel)$ $1.html
RewriteRule ((.*)\.html)!(?:login\.html)!(?:panel\.html) login.html