AddDefaultCharset UTF-8
DirectoryIndex index.html index.php login.html
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !\.css$
RewriteCond %{REQUEST_URI} !\.js$
RewriteCond %{REQUEST_URI} !\.ttf$
RewriteCond %{REQUEST_URI} !\.woff$
RewriteCond %{REQUEST_URI} !\.woff2$
RewriteCond %{REQUEST_URI} !img/(.*)\.
RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]{3,4}
RewriteRule !^(backend/?([a-z]+)?)|(panel/?([a-z]+)?)$ login.html
RewriteRule ^backend/?([a-z]+)?$ backend/index.php
RewriteRule ^(panel)$ $1.html
AddType application/x-httpd-php71 .php