<!DOCTYPE html>
<html ng-app="CMCApp">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="CMC Application for sport teams">
    <meta name="keywords" content="Team App Football CMCApp Sport">
    <meta name="author" content="Main - Grzegorz Kastelik second - Łukasz Kościelniak">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/files/img/favicon.ico">
    <title>CMCApp - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900">
    <link rel="stylesheet" href="/core/css/login.css">
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/core/js/libraries/js.cookie.js"></script>
    <script>
        function GetXmlHttpObject() {
            var objXMLHttp = null;
            if (window.XMLHttpRequest) {
                objXMLHttp = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                objXMLHttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            return objXMLHttp;
        }
        var JavaScript = {
            load: function(src) {
                var xhrObj = GetXmlHttpObject();
                xhrObj.open('GET', src, false);
                xhrObj.send('');
                var se = document.createElement('script');
                se.type = "text/javascript";
                se.text = xhrObj.responseText;
                document.getElementsByTagName('head')[0].appendChild(se);
            },
            loadCss: function(src) {
                var xhrObj = GetXmlHttpObject();
                xhrObj.open('GET', src, false);
                xhrObj.send('');
                var se = document.createElement('style');
                se.type = 'text/css';
                if (se.styleSheet) {
                    se.styleSheet.cssText = xhrObj.responseText;
                } else {
                    se.appendChild(document.createTextNode(xhrObj.responseText));
                }
                document.getElementsByTagName('head')[0].appendChild(se);
            }
        };
        var urlToPost = 'backend/getServices';
        $.ajax({
            url: urlToPost,
            type: "POST",
            data: [],
            async: false,
            success: function(msg) {
                if (msg.success) {
                    JavaScript.load("//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js");
                    JavaScript.load("//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-route.min.js");
                    JavaScript.load("/core/js/services.js");
                    for (var x = 0; x < msg.data.length; x++) {
                        JavaScript.load(msg.data[x]);
                    }
                    JavaScript.load("/core/js/controllers/loginController.js");
                    JavaScript.load("/core/js/controllers/mainController.js");
                    JavaScript.load("/core/js/route.js");
                } else {
                    if (msg.error)
                        $.gritter.add({
                            title: 'Bład',
                            text: msg.error,
                            image: '',
                            sticky: true,
                            time: 3,
                            class_name: 'my-sticky-class'
                        });
                }
            },
            error: function(jqXHR, textStatus) {
                $.gritter.add({
                    title: 'Bład',
                    text: "Blad podczas laczenia z serverem: " + textStatus,
                    image: '',
                    sticky: true,
                    time: 3,
                    class_name: 'my-sticky-class'
                });
            }
        });
    </script>
</head>

<body>
    <div id='backgroundLogin'>
        <img src="/files/img/background.jpg" alt="glowne zdjecie logowania">
    </div>
    <div class='loginMainContener'>
        <div class='loginFormContener'>
            <div class="formContener" ng-controller="loginController">
                <div class="row">
                    <div class="col s12 text welcome">
                        <p>Witaj</p>
                    </div>
                    <div class="col s12 text login">
                        <p>Zaloguj się</p>
                    </div>
                </div>
                <form class="col s12" ng-submit="login(login_email,login_password)" ng-init="initLogin()">
                    <div class="row" style='margin-bottom: 0;'>
                        <div class="input-field col s12">
                            <input id='loginEmail' type="email" style="-webkit-text-fill-color: white;-webkit-box-shadow: 0 0 0px 1000px transparent inset;transition: background-color 5000s ease-in-out 0s;" ng-model="login_email" name="login_email" placeholder="Adres email" class="validate white-text">
                            <label for="loginEmail">Adres email</label>
                        </div>
                        <div class="input-field col s12">
                            <input id='loginPassowrd' type="password" style="-webkit-text-fill-color: white;-webkit-box-shadow: 0 0 0px 1000px transparent inset;transition: background-color 5000s ease-in-out 0s;" ng-model="login_password" name="login_password" placeholder="Hasło"
                                class="validate white-text">
                            <label for="loginPassowrd">Hasło</label>
                        </div>
                    </div>
                    <div class="error col s12">
                    </div>
                    <button type="submit" class="waves-effect waves-light btn">Zaloguj</button>
                </form>
            </div>
            <div style="float: left; width: 100%;
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;">
            </div>
            <div class="col s12 text footer">
                <div class='copyrightText'>
                    <p class='reg'>Logując się akceptujesz <a href="">Politykę prywatnośći</a> oraz <a href="">Regulamin usług</a> </p>
                </div>
                <img class='footerLogo' src="/files/img/club_logo.png" alt="logo klubu" width="50px" height="auto">
            </div>
        </div>
    </div>

</body>

</html>

<script>
    $('.reg').append('</br>' + (new Date().getFullYear()) + ' Ⓒ Wirtualne Centrum Piłkarskie');
</script>