<!DOCTYPE html>
<html ng-app="CZKApp">

<head>
    <title>Centrum zarządzania klubem - logowanie</title>
    <meta charset="UTF-8">
    <meta name="description" content="---------">
    <meta name="keywords" content="---------">
    <meta name="author" content="---------">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="background-photo height-100">
        <div class="container-fluid height-100">
            <div class="row no-marg-bottom height-100">
                <div class="col s4 push-s1 start-panel height-100">
                    <span class="col s12 main-title">Wirtualne Centrum Piłkarskie</span>
                    <div class="col s12 team-logo">
                        <a href="//lukam2010.pl/" target="_blank"><img src="/img/club_logo.png"></img>
                        </a>
                    </div>
                    <div class="col s12 text welcome">
                        <a>Witaj</a>
                    </div>
                    <div class="col s12 text login">
                        <a>Zaloguj się</a>
                    </div>
                    <div class="col s12 login_form" ng-controller="loginController">
                        <!-- logowanie do panelu -->
                        <form onsubmit="return false;" ng-init="initLogin()" class="marg-bottom">
                            <input type="email" ng-model="login_email" name="login_email" placeholder="Email">
                            <br>
                            <input type="password" ng-model="login_password" name="login_password" placeholder="Hasło">
                            <br><br>
                            <!-- mozesz dodac tutaj jakis div do ktorego bede ddawal tekst bledu i go wyswietlal jak cos pojdzie nie tak -->
                            <button type="submit" ng-click="login(login_email,login_password)" class=" btn btn-center "> Zaloguj </button>
                        </form>
                        <!-- logowanie do panelu -->
                    </div>
                    <div class="col s12 text footer">
                        <a>2017 ⓒ Wirtualne Centrum Piłkarskie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/libraries/materialize.min.js"></script>
<script type="text/javascript" src="/js/libraries/js.cookie.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-route.min.js"></script>
<script src="/js/route.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers/loginController.js"></script>