<!DOCTYPE html>
<html ng-app="CZKApp">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="---------">
    <meta name="keywords" content="---------">
    <meta name="author" content="---------">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Wirtualne Centrum Piłkarskie - logowanie</title>

</head>

<body>
    <div class="background-photo height-100">
        <div class="container height-100">
            <div class="row no_marg_bottom height-100">
                <div class="col s12 col m4 start-panel height-100">
                    <span class="col s12 main-title">Wirtualne Centrum Piłkarskie</span>
                    <div class="col s12 team-logo">
                        <a href="//lukam2010.pl/" target="_blank"><img src="img/club_logo.png"></img>
                        </a>
                    </div>
                    <div class="col s12 text welcome">
                        <p>Witaj</p>
                    </div>
                    <div class="col s12 text login">
                        <p>Zaloguj się</p>
                    </div>
                    <div class="login_form" ng-controller="loginController">
                        <form class="col s12" onsubmit="return false;" ng-init="initLogin()">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id='loginEmail' type="email" ng-model="login_email" name="login_email" placeholder="Adres email" class="validate">
                                    <label for="loginEmail">Adres email</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id='loginPassowrd' type="password" ng-model="login_password" name="login_password" placeholder="Hasło" class="validate">
                                    <label for="loginPassowrd">Hasło</label>
                                </div>
                            </div>
                            <div class="error col-xs-12">
                                <!-- ta klasa do wyświetlania błędu po złym logowaniu -->
                            </div>
                            <button type="submit" class="waves-effect waves-light btn" ng-click="login(login_email,login_password)">Zaloguj</button>
                        </form>
                    </div>
                    <div class="col s12 text footer">
                        <p>&copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>, Wirtualne Centrum Piłkarskie
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

<link rel="stylesheet" href="/css/login.css">
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900" rel="stylesheet">
<script type="text/javascript" src="/js/libraries/js.cookie.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-route.min.js"></script>
<script src="/js/route.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers/loginController.js"></script>

</html>