<!DOCTYPE html>
<html lang="pl" ng-app="CZKApp" ng-controller="mainController">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Application for football teams">
    <meta name="keywords" content="Team App Football">
    <meta name="author" content="Main - Grzegorz Kastelik second - Łukasz Kościelniak">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/files/img/favicon.ico">
    <title>Wirtualne Centrum Piłkarskie</title>
    <link href="/core/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/core/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="/core/css/c3.min.css">
    <link rel="stylesheet" type="text/css" href="/core/js/libraries/gritter/css/jquery.gritter.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/core/css/style-responsive.css" rel="stylesheet">
    <link href="/core/js/libraries/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="/core/css/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">


</head>

<body ng-controller="accountController">
    <div id='loadingContent' class="noPrint">
        <p>Wczytywanie...<br/><span id='showRun'>Już za chwilę przeniesiemy Cię na główną stronę</span></p>
    </div>
    <div id='mainContent'>
        <header class="noPrint">
            <nav style="background: #263238;">
                <div class="nav-wrapper">
                    <div class="sidebar-toggle-box">
                        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                    </div>
                    <a href="#!/" class="brand-logo"><b>CZK-App</b></a>
                    <ul class="right">
                        <li><a href='' id='printButton' class='waves-effect waves-light'><i class="fa fa-print" aria-hidden="true"></i></a></li>
                        <li ng-show='user.tmid != ""'><a href="#!/calendar" class='waves-effect waves-light'><i class="fa fa-calendar" aria-hidden="true"></i></a></li>
                        <li ng-show='user.tmid != ""'><a ng-click='showNotifications()' href="" class='waves-effect waves-light'><i class="fa fa-bell-o" aria-hidden="true"></i><span class="new badge" ng-show="notifyCount > 0">{{notifyCount}}</span></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div ng-show="showAllNewsNotify" class="showAllNewsNotify noPrint">
            <div class="notifyContenerTitle" ng-click='showNotifications()'>
                <p ng-show="notifyCount > 0">Masz {{notifyCount}} nieprzeczytanych powiadomień</p>
                <p ng-show="notifyCount <= 0">Nie masz żadnych nowych powiadomień</p>
            </div>
            <div class="notifyContener">
                <div class="notif" ng-repeat="notify in newNotify |orderBy: '-id'" ng-click='showNotifications(false)'>
                    <a href="{{notify.url}}">{{notify.title}}</a>
                </div>
            </div>
        </div>

        <aside class="noPrint">
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered">
                        <a href="#!/myProfile"><img id='mainProfileImg' src="" class="circle" width="60" height="60"></a>
                    </p>
                    <h5 class="centered">{{user.firstname}} {{user.lastname}}</h5>
                    <li class='row teamSelect'>
                        <div class="input-field col s12">
                            <select id='teamSelect' class="white-text">
                                <option value="" disabled selected>Wybierz drużynę</option>
                            </select>
                            <label class="centered">Wybierz drużynę</label>
                        </div>
                    </li>

                    <li class="main-sidebar">
                        <a class="" href="#!/">
                            <i class="fa fa-home fa-fw"></i>
                            <span>Strona główna</span>
                        </a>
                    </li>
                    <li class="sub-menu" ng-show='user.tmid != ""'>
                        <a href="javascript:;">
                            <i class="fa fa-users fa-fw"></i>
                            <span>Szatnia</span>
                        </a>
                        <ul class="sub">
                            <li><a href="#!/tab">Tablica</a></li>
                            <li><a href="#!/teamComposition">Skład meczowy</a></li>
                            <li><a href="#!/staff">Sztab</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-user fa-fw"></i>
                            <span>Mój profil</span>
                        </a>
                        <ul class="sub">
                            <li><a href="#!/myProfile">Moje dane</a></li>
                            <li ng-show="user.role == 'ZAWODNIK' && user.tmid != ''"><a href="#!/myStats">Moje statystyki</a></li>
                            <li ng-show="user.role == 'ZAWODNIK' && user.tmid != ''"><a href="#!/myRaports">Moje raporty</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu" ng-show="user.role != 'ZAWODNIK' && user.tmid != ''">
                        <a href="javascript:;">
                            <i class="fa fa-cubes fa-fw" aria-hidden="true"></i>
                            <span>Menadżer testów</span>
                        </a>
                        <ul class="sub">
                            <li><a href="#!/testMenager">Zarządzaj testami</a></li>
                            <li><a href="#!/newScore">Zarządzaj wynikami</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu" ng-show="user.role != 'ZAWODNIK' && user.tmid != ''">
                        <a href="javascript:;">
                            <i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>
                            <span>Menadżer statystyk</span>
                        </a>
                        <ul class="sub">
                            <li><a href="#!/usersStatistic">Statystyki zawodników</a></li>
                            <li><a href="#!/teamStatistic">Statystyki drużynowe</a></li>
                        </ul>
                    </li>
                    <li class="main-sidebar" ng-show="user.role != 'ZAWODNIK' && user.tmid != ''">
                        <a class="waves-effect waves-light" href="#!/showPlayers">
                            <i class="fa fa-address-book-o fa-fw" aria-hidden="true"></i>
                            <span>Menadżer zawodników</span>
                        </a>
                    </li>
                    <li class="main-sidebar" ng-show="user.role == 'KOORD'">
                        <a class="waves-effect waves-light" href="#!/masterMenager">
                            <i class="fa fa-user-secret fa-fw" aria-hidden="true"></i>
                            <span>Menadżer trenerów</span>
                        </a>
                    </li>
                    <li class="main-sidebar" ng-show="user.role == 'KOORD' ">
                        <a class="waves-effect waves-light" href="#!/teamsMenager">
                            <i class="fa fa-address-card-o fa-fw" aria-hidden="true"></i>
                            <span>Menadżer drużyn</span>
                        </a>
                    </li>

                    <li class="main-sidebar">
                        <a class="waves-effect waves-light" href="" ng-click="logout()">
                            <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
                            <span>Wyloguj się</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <section id="main-content" ng-init="mainInit()">
            <section class="wrapper" ng-view ng-init="initAccount()">
            </section>
        </section>
    </div>


    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/core/js/libraries/jquery-ui.js"></script>
    <scirpt src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></scirpt>
    <script src="/core/js/libraries/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/core/js/libraries/jquery.scrollTo.min.js"></script>
    <script src="/core/js/libraries/jquery.nicescroll.js"></script>
    <script src="/core/js/libraries/jquery.sparkline.js"></script>
    <script src="/core/js/libraries/jquery.datetimepicker.full.js"></script>
    <script src="/core/js/libraries/chart-master/Chart.js"></script>
    <script src="/core/js/libraries/d3.min.js"></script>
    <script src="/core/js/libraries/c3.min.js"></script>
    <script src="/core/js/libraries/gritter/js/jquery.gritter.js"></script>
    <script src="/core/js/libraries/gritter-conf.js"></script>
    <script src="/core/js/libraries/js.cookie.js"></script>
    <script src="/core/js/libraries/sparkline-chart.js"></script>
    <script src="/core/js/libraries/zabuto_calendar.js"></script>
    <script src="/core/js/libraries/fullcalendar/fullcalendar.min.js"></script>
    <script src="/core/js/libraries/moments.js"></script>
    <script src="/core/js/libraries/calendar-conf-events.js"></script>
    <script src="/core/js/libraries/common-scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script>
        function GetXmlHttpObject() {
            var objXMLHttp = null;
            if (window.XMLHttpRequest) {
                objXMLHttp = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                objXMLHttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            return objXMLHttp;
        }
        var JavaScript = {
            load: function(src) {
                var xhrObj = GetXmlHttpObject();
                // open and send a synchronous request
                xhrObj.open('GET', src, false);
                xhrObj.send('');
                // add the returned content to a newly created script tag
                var se = document.createElement('script');
                se.type = "text/javascript";
                se.text = xhrObj.responseText;
                document.getElementsByTagName('body')[0].appendChild(se);
            }
        };
        var urlToPost = 'backend/getPageJs';
        $.ajax({
            url: urlToPost,
            type: "POST",
            data: [],
            async: false,
            success: function(msg) {
                if (msg.success) {
                    JavaScript.load("//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js");
                    JavaScript.load("//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-route.min.js");
                    JavaScript.load("/core/js/services.js");
                    JavaScript.load("/core/js/controllers/mainController.js");
                    for (var x = 0; x < msg.data.length; x++) {
                        JavaScript.load(msg.data[x]);
                    }
                    JavaScript.load("/core/js/route.js");
                } else {
                    if (msg.error)
                        $.gritter.add({
                            title: 'Bład',
                            text: msg.error,
                            image: '',
                            sticky: true,
                            time: 3,
                            class_name: 'my-sticky-class'
                        });
                }
            },
            error: function(jqXHR, textStatus) {
                $.gritter.add({
                    title: 'Bład',
                    text: "Blad podczas laczenia z serverem: " + textStatus,
                    image: '',
                    sticky: true,
                    time: 3,
                    class_name: 'my-sticky-class'
                });
            }
        });
    </script>


</body>

</html>
