<!DOCTYPE html>
<html lang="pl" ng-app="CMCApp" ng-controller="mainController">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="CMC Application for sports teams">
    <meta name="keywords" content="Team App Football">
    <meta name="author" content="Main - Grzegorz Kastelik second - Łukasz Kościelniak">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/files/img/favicon.ico">
    <title ng-show="mainSettings.length > 0">{{mainSettings.appName}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.10&appId=1252678551503419';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>

<body ng-controller="accountController">
    <div id="widgetContainer">
        <div class="widgetContentContainer">
        </div>
    </div>

    <div id='canvasPlayer' class="noPrint">
        <div id="playerContent">
            <div id="playerData">
                <p style='line-height: 3.4rem !important;'>Podgląd animacji</p>
                <i id='exitPlayer' class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
            </div>
            <div id="canvasPlayerContainer"></div>
            <div id="playeControllerPanel">
                <div id='animTimeBack'>
                    <div id='animTime'></div>
                </div>
                <div id="playerSteringTools">
                    <div class='animCotrollerButton' id="playAnim">
                        <i class="fa fa-play-circle fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class='animCotrollerButton' id="backwardAnim">
                        <i class="fa fa-backward " aria-hidden="true"></i>
                    </div>
                    <div class='animCotrollerButton' id="pauseAnim">
                        <i class="fa fa-pause-circle fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class='animCotrollerButton' id="forwardAnim">
                        <i class="fa fa-forward " aria-hidden="true"></i>
                    </div>
                    <div class='animCotrollerButton' id="stopAnim">
                        <i class="fa fa-stop-circle fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='loadingContent' class="noPrint">
        <div id='backgroundLogin'>
            <div class='loaderContainer'>
                <div id="loader-wrapper">
                    <div id="loader"></div>
                </div>
            </div>
            <div class='loaderMainText'>
                <h5>Poczekaj proszę chwilkę, przygotowujemy Twój profil :)</h5>
            </div>
        </div>
    </div>

    <div id='mainContent'>
        <header class="noPrint">
            <nav class="topbar" style='height: 56px;line-height: 56px;'>
                <div class="nav-wrapper" style=' overflow: hidden;'>
                    <div class="sidebar-toggle-box" style='height: 54px;line-height: 54px;'>
                        <i class="fa fa-bars fa-2x" aria-hidden="true" style='height: 54px;line-height: 54px;'></i>
                    </div>
                    <ul class="right">
                        <li><a href='' id='printButton' class='waves-effect waves-light'><i class="fa-color fa fa-print" aria-hidden="true"></i></a></li>
                        <li ng-show='user.tmid != ""'><a href="#!/calendar" class='waves-effect waves-light'><i class="fa-color fa fa-calendar" aria-hidden="true"></i></a></li>
                        <li ng-show='user.tmid != ""'><a ng-click='showNotifications()' href="" class='waves-effect waves-light'><i class="fa-color fa fa-bell-o" aria-hidden="true"></i><span class="new badge" ng-show="notifyCount > 0">{{notifyCount}}</span></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div ng-show="showAllNewsNotify" class="showAllNewsNotify noPrint">
            <div class="notifyContenerTitle" ng-click='showNotifications()'>
                <p ng-show="notifyCount > 0">Masz: {{notifyCount}} nowych powiadomień</p>
                <p ng-show="notifyCount <= 0">Nie masz nowych powiadomień</p>
            </div>
            <div class="notifyContener">
                <div class="notif" style='padding: 10px;' ng-repeat="notify in newNotify |orderBy: '-id'" ng-click='showNotifications(false)'>
                    <a style='margin: 0; padding:0;text-align: left;' href="{{notify.url}}">{{notify.title}}</a>
                    <p style='margin: 0; text-align: left;' class='prettydate'>{{notify.date_add}}</p>
                </div>
            </div>
            <div class="notifyContenerTitle" ng-show="newNotify.length >= 5">
                <a style='font-weight: 400; line-height:2' href="#!/allNotify" ng-click='showNotifications(false)'>Pokaż wszystkie</a>
            </div>
        </div>

        <aside class="noPrint">
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered">
                        <a href="#!/myProfile"><img id='mainProfileImg' src="" class="circle" width="60" height="60"></a>
                    </p>
                    <h5 class="centered">{{user.firstname}} {{user.lastname}}</h5>
                </ul>

                <ul class='contactUl'>
                    <li class="contactUl-background"><i class="fa fa-check-square-o fa-fw" aria-hidden="true" style='color: #fff'></i><a href="" ng-click="goFeed('opinia')">Prześlij opinię</a></li>
                    <li class="contactUl-background"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true" style='color: #fff'></i><a href="" ng-click="goFeed('blad')">Zgłoś błąd</a></li>
                </ul>
                <div class="fb-like" data-href="https://www.facebook.com/centrumklubu" style='margin: auto;display: table;' data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
        </aside>

        <section id="main-content" ng-init="mainInit()">
            <section class="wrapper" ng-view ng-init="initAccount()">
            </section>
        </section>
    </div>

    <link href="/core/css/style.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        function GetXmlHttpObject() {
            var objXMLHttp = null;
            if (window.XMLHttpRequest) {
                objXMLHttp = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                objXMLHttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            return objXMLHttp;
        }
        var JavaScript = {
            load: function(src) {
                var xhrObj = GetXmlHttpObject();
                xhrObj.open('GET', src, false);
                xhrObj.send('');
                var se = document.createElement('script');
                se.type = "text/javascript";
                se.text = xhrObj.responseText;
                document.getElementsByTagName('body')[0].appendChild(se);
            },
            loadCss: function(src) {
                var xhrObj = GetXmlHttpObject();
                xhrObj.open('GET', src, false);
                xhrObj.send('');
                var se = document.createElement('style');
                se.type = 'text/css';
                if (se.styleSheet) {
                    se.styleSheet.cssText = xhrObj.responseText;
                } else {
                    se.appendChild(document.createTextNode(xhrObj.responseText));
                }
                document.getElementsByTagName('body')[0].appendChild(se);
            }
        };
        var urlToPost = 'backend/getPageCss';
        $.ajax({
            url: urlToPost,
            type: "POST",
            data: [],
            async: false,
            success: function(msg) {
                if (msg.success) {
                    for (var x = 0; x < msg.data.length; x++) {
                        JavaScript.loadCss(msg.data[x]);
                    }
                } else {
                    if (msg.error)
                        $.gritter.add({
                            title: 'Bład',
                            text: msg.error,
                            image: '',
                            sticky: true,
                            time: 3,
                            class_name: 'my-sticky-class'
                        });
                }
            },
            error: function(jqXHR, textStatus) {
                $.gritter.add({
                    title: 'Bład',
                    text: "Blad podczas laczenia z serverem: " + textStatus,
                    image: '',
                    sticky: true,
                    time: 3,
                    class_name: 'my-sticky-class'
                });
            }
        });
    </script>


</body>

</html>

<script src="/core/js/libraries/jquery-ui.js"></script>
<script src="/core/js/libraries/jquery.dcjqaccordion.2.7.js"></script>
<script src="/core/js/libraries/jquery.scrollTo.min.js"></script>
<script src="/core/js/libraries/jquery.nicescroll.js"></script>
<script src="/core/js/libraries/jquery.sparkline.js"></script>
<script src="/core/js/libraries/jquery.datetimepicker.full.js"></script>
<script src="/core/js/libraries/gritter/js/jquery.gritter.js"></script>
<script src="/core/js/libraries/gritter-conf.js"></script>
<script src="/core/js/libraries/js.cookie.js"></script>
<script src="/core/js/libraries/zabuto_calendar.js"></script>
<script src="/core/js/libraries/fullcalendar/fullcalendar.min.js"></script>
<script src="/core/js/libraries/moments.js"></script>
<script src="/core/js/libraries/calendar-conf-events.js"></script>
<script src="/core/js/libraries/common-scripts.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="//cdn.rawgit.com/konvajs/konva/1.6.8/konva.min.js"></script>
<script>
    var urlToPost = 'backend/getServices';
    $.ajax({
        url: urlToPost,
        type: "POST",
        data: [],
        async: false,
        success: function(msg) {
            if (msg.success) {
                JavaScript.load("//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js");
                JavaScript.load("//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js");
                JavaScript.load("/core/js/services.js");
                for (var x = 0; x < msg.data.length; x++) {
                    JavaScript.load(msg.data[x]);
                }

            } else {
                if (msg.error)
                    $.gritter.add({
                        title: 'Bład',
                        text: msg.error,
                        image: '',
                        sticky: true,
                        time: 3,
                        class_name: 'my-sticky-class'
                    });
            }
        },
        error: function(jqXHR, textStatus) {
            $.gritter.add({
                title: 'Bład',
                text: "Blad podczas laczenia z serverem: " + textStatus,
                image: '',
                sticky: true,
                time: 3,
                class_name: 'my-sticky-class'
            });
        }
    });
    var urlToPost = 'backend/getPageJs';
    $.ajax({
        url: urlToPost,
        type: "POST",
        data: [],
        async: false,
        success: function(msg) {
            if (msg.success) {
                for (var x = 0; x < msg.data.length; x++) {
                    JavaScript.load(msg.data[x]);
                }
                JavaScript.load("/core/js/controllers/mainController.js");
                JavaScript.load("/core/js/route.js");
            } else {
                if (msg.error)
                    $.gritter.add({
                        title: 'Bład',
                        text: msg.error,
                        image: '',
                        sticky: true,
                        time: 3,
                        class_name: 'my-sticky-class'
                    });
            }
        },
        error: function(jqXHR, textStatus) {
            $.gritter.add({
                title: 'Bład',
                text: "Blad podczas laczenia z serverem: " + textStatus,
                image: '',
                sticky: true,
                time: 3,
                class_name: 'my-sticky-class'
            });
        }
    });

    var urlToPost = 'backend/getLeftMenu';
    $.ajax({
        url: urlToPost,
        type: "POST",
        data: [],
        async: false,
        success: function(msg) {
            if (msg.success) {
                if (msg.data && msg.data.length > 0) {
                    msg.data.sort(function(a, b) {
                        return a.weight - b.weight;
                    });
                }
                for (var i = 0; i < msg.data.length; i++) {
                    var toAppend = "";
                    var additional = '';
                    var icon = '';
                    if (msg.data[i].html) {
                        toAppend = msg.data[i].html;
                    } else if (msg.data[i].dropdown) {
                        if (msg.data[i].anchorAdditional) additional = msg.data[i].anchorAdditional;
                        if (msg.data[i].icon) icon = "<i class='" + msg.data[i].icon + "' aria-hidden='true'></i>";
                        toAppend = "<li class='main-sidebar' " + additional + "> <a href=''>" + icon + "<span>" + msg.data[i].dropdown + "</span>" +
                            "</a> <ul class='sub' >"
                        for (var x = 0; x < msg.data[i].list.length; x++) {
                            additional = "";
                            if (msg.data[i].list[x].link.additional) additional = msg.data[i].list[x].link.additional;
                            var add = "<li " + additional + "> <a href='" + msg.data[i].list[x].link.url + "'> " + msg.data[i].list[x].link.label + " </a> </li>";
                            toAppend += add;
                        }
                        toAppend += "</ul></li>";
                    } else if (msg.data[i].link) {
                        if (msg.data[i].link.additional) additional = msg.data[i].link.additional;
                        if (msg.data[i].link.icon) {
                            icon = "<i class='" + msg.data[i].link.icon + "' aria-hidden='true'></i>";

                            if (msg.data[i].link.url == "#!/") {
                                toAppend = "<li class='main-sidebar' " + additional + "> <a class='waves-effect waves-light active' href='" + msg.data[i].link.url +
                                    "'> " + icon + "<span>" + msg.data[i].link.label + "</span> </a> </li>";
                            } else {
                                toAppend = "<li class='main-sidebar' " + additional + "> <a class='waves-effect waves-light' href='" + msg.data[i].link.url +
                                    "'> " + icon + "<span>" + msg.data[i].link.label + "</span> </a> </li>";
                            }

                        }
                    }
                    $("#nav-accordion").append(toAppend);
                }
            } else {
                if (msg.error)
                    $.gritter.add({
                        title: 'Bład',
                        text: msg.error,
                        image: '',
                        sticky: true,
                        time: 3,
                        class_name: 'my-sticky-class'
                    });
            }
        },
        error: function(jqXHR, textStatus) {
            $.gritter.add({
                title: 'Bład',
                text: "Blad podczas laczenia z serverem: " + textStatus,
                image: '',
                sticky: true,
                time: 3,
                class_name: 'my-sticky-class'
            });
        }
    });

    $(document).ready(function() {
        setTimeout(function() {
            $(document).find(".prettydate").prettydate();
        }, 500);

        setInterval(function() {
            $(document).find(".prettydate").prettydate();
        }, 1500);
    });
</script>

<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/core/css/zabuto_calendar.css">
<link rel="stylesheet" type="text/css" href="/core/js/libraries/gritter/css/jquery.gritter.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="/core/css/style-responsive.css" rel="stylesheet">
<link href="/core/js/libraries/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
<link href="/core/css/jquery.datetimepicker.min.css" rel="stylesheet" />