<div ng-init="setPerm(['KOORD','TRENER', 'ZAWODNIK','STAFF'])"></div>

<div class="section">
    <div ng-show='showContent' class="row" ng-init="getStaffMembers()">
        <div class="col s12 m6 noPrint" ng-show="user.role == 'TRENER' || user.role == 'KOORD' ">
            <div class="card" style='height: 288px'>
                <div class="card-content">
                    <div class="card-title">
                        Dodaj nowe konto (sztab)
                    </div>
                    <div class="row" id='contentAddPersonShow'>
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="addedFirstname" type="text" name="firstname" placeholder="Imię" class="validate">
                                        <label for="addedFirstname">Imię</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id='addedLastname' type="text" name="lastname" placeholder="Nazwisko" class="validate">
                                        <label for="addedLastname">Nazwisko</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id='addedEmail' type="email" name="email" placeholder="Adres email" class="validate">
                                        <label for="addedEmail">Adres e-mail</label>
                                    </div>
                                </div>
                            </div>
                            <button class="waves-effect waves-light btn" style='margin-top:10px;' ng-click="addPerson()">Dodaj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 noPrint" ng-show="user.role == 'TRENER' || user.role == 'KOORD' ">
            <div class="card" style='height: 288px'>
                <div class="card-content">
                    <div class="card-title">
                        Dodaj członka sztabu
                    </div>
                    <div class="row" style="padding: 20px; ">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="typeStaff" placeholder="Nazwa personelu np. Trener" required>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="" id="addStaffMembersSelect">
                            </select>
                            </div>
                        </form>
                        <button style="margin-top: 20px; " class="btn btn-success" ng-click="addStaff()">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4 page-break" ng-repeat="staff in koordsInSite">
            <div class="card" style='min-height: 210px'>
                <div class="card-content">
                    <div class="card-title">
                        <div ng-show="staff.email != 'cmc.app@centrumklubu.pl'">Trener Koordynator</div>
                        <div ng-show="staff.email == 'cmc.app@centrumklubu.pl'">Administracja platformy</div>
                    </div>
                    <span class="licenseTypeBadge badge red" ng-show="staff.license_type.length > 1">{{staff.license_type}}</span>
                    <div id='st-{{staff.stid}}' class="row">
                        <div class="col-md-5" style='height:60px;margin-top:24px;'>
                            <img ng-src="{{staff.user_img_path}}"  class="circle" width="60" height="60" alt="{{staff.firstname}}-{{staff.lastname}}"></img>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class='titleIn'>{{staff.firstname}} {{staff.lastname}}</div>
                            </div>
                            <div class="row">
                                <small class="col s12">{{staff.email}}</small>
                            </div>
                            <div class="row">
                                <small class="col s12" style="padding-top:10px;">{{staff.tel}}</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4 page-break" ng-repeat="staff in staffMembers">
            <div class="card" style='min-height: 210px'>
                <div class="card-content">
                    <div class="card-title">
                        {{staff.stname}}
                        <div style="position: absolute; top: 9px; right: 20px; color: white; font-size: 20px; cursor: pointer" ng-show="user.role != 'ZAWODNIK'">
                            <i class="fa fa-times" aria-hidden="true" ng-click="deleteStaff(staff.stid)"></i>
                        </div>
                    </div>
                    <span class="licenseTypeBadge badge red" ng-show="staff.license_type.length > 1">{{staff.license_type}}</span>
                    <div id='st-{{staff.stid}}' class="row">
                        <div class="col-md-5" style='height:60px;margin-top:24px;'>
                            <img ng-src="{{staff.user_img_path}}" class="circle" width="60" height="60" alt="{{staff.firstname}}-{{staff.lastname}}"></img>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class='titleIn'>{{staff.firstname}} {{staff.lastname}}</div>
                            </div>
                            <div class="row">
                                <small class="col s12" >{{staff.email}}</small>
                            </div>
                            <div class="row">
                                <small class="col s12" style="padding-top:10px;">{{staff.tel}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>