<div ng-init="setPerm(['KOORD','TRENER', 'ZAWODNIK','STAFF'])"></div>

<div class="section">
    <div ng-show='showContent' class="row">

        <div class="row" style="margin-bottom: 0 !important;">
            <div style="float:left;" class="f33 page-break">
                <div class="card" style="height: 205px;">
                    <div class="card-content page-break noPrint" style="padding:0">
                        <div class="card-title">
                            Statystyka
                        </div>
                        <div class="row page-break" style="max-width:287px; margin: auto !important;">
                            <div class="row noPrint" style="overflow:hidden;"><canvas id='teamStat'></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float:left;" class="f33 zpage-break noPrint">
                <div class="card" style="height: 205px;">
                    <div class="card-content page-break noPrint" style="padding:0">
                        <div class="card-title">
                            Ustawienia
                        </div>
                        <div class="row" >
                            <p style='color: #9e9e9e;font-size: 16px;padding: 90px 50px;'>W przygotowaniu!</p>
                        </div>
                        <!--<div class="row page-break">-->
                            <!--<div class="input-field col s12">-->
                                <!--<input placeholder="Ilość zawodników na boisku" id="maxPlayers" type="text" class="validate">-->
                                <!--<label for="maxPlayers">Ilość zawodników na boisku</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div style="float:left;" class="f33-1 page-break noPrint">
                <div class="card" style="height: 205px;">
                    <div class="card-content page-break noPrint" style="padding:0">
                        <div class="card-title">
                            Informacje
                        </div>
                        <div class="row" >
                            <p style='color: #9e9e9e;font-size: 16px;padding: 90px 50px;'>W przygotowaniu!</p>
                        </div>
                        <!--<div class="row page-break">-->
                            <!--<div class="input-field col s12">-->
                                <!--<input placeholder="Ilość zawodników na boisku" id="maxPlayers" type="text" class="validate">-->
                                <!--<label for="maxPlayers">Ilość zawodników na boisku</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l6" style="padding: 0;" id='notOnFieldCard'>
            <div class="card">
                <div class="card-content" style="padding:0">
                    <div class="card-title">
                        Ławka rezerwowych
                    </div>
                    <div class="row ">

                        <div class="input-field col s12 noPrint">
                            <input id='changeFilter' type="text" placeholder='Wpisz szukaną frazę, imię, nazwisko' ng-model='searchText'>
                        </div>
                        <table class="table highlight centered" ng-init="getTeam()">
                            <thead>
                                <tr>
                                    <th>Zawodnik</th>
                                    <th>Numer koszulki</th>
                                    <th>Wpływ (poziom)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="us in notOnField | filter:searchText" class='row dragedUser' id='fieldUser-{{us.usid}}' draggable="true">
                                    <td style="padding: 5px 0;">{{us.firstname.slice(0,1)}}.{{us.lastname}}</td>
                                    <td style="padding: 5px 0;">
                                        <div class="input-field col" style="text-align: center; padding: 0 5px; margin: 0;width: 100%">
                                            <input style="text-align: center; margin: 0; height: 25px; width: 100%" ng-show="user.role != 'ZAWODNIK' " class='changeNumber' id='changeNumber-{{us.tmmid}}-0' type="text" value="{{us.nr_on_tshirt}}" required>
                                        </div>
                                        <p ng-show="user.role == 'ZAWODNIK'  ">{{us.nr_on_tshirt}}</p>
                                    </td>
                                    <td class='helpTd'>{{us.help}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l6 page-break" style="padding: 0;">
            <div class="card">
                <div class="card-content page-break" style="padding:0">
                    <div class="card-title">
                        Skład meczowy
                    </div>
                    <div class="row page-break">
                        <div id="canvas_container" style='width: 100%; height: 100%;'>
                            <canvas id="canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-floating cyan tutorialOnButton" ng-click="getTutorial('sklad_meczowy')"><i class="fa fa-question"></i></a>

    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>