<div ng-init="setPerm(['KOORD','TRENER', 'ZAWODNIK','STAFF'])"></div>

<div class="section">
    <div ng-show='showContent' ng-init='initComposition()' class="row">
        <div class="col s12 m10 lg8 offset-m1 offset-lg2 page-break" style="padding: 0;">
            <div class="card">
                <div class="card-content page-break" style="padding:0">
                    <div class="card-title">
                        Następny mecz
                    </div>
                    <div class="row page-break" nh-show="meetViewSelected">
                        <div>
                            <small>{{meetViewSelected.date}}</small>
                            <h5 style="margin: 2px 0;">Spotkanie przeciwko: {{meetViewSelected.enemyName}}</h5>
                            <small>Status: <span ng-bind-html="putStatus(meetViewSelected.status)"></span>  <span ng-show="meetViewSelected.teamScore"> Wynik: {{meetViewSelected.teamScore}}:{{meetViewSelected.enemyScore}}</span></small>
                        </div>
                        <div style="margin:40px 0 10px">
                            {{meetViewSelected.description}}
                        </div>
                        <div ng-show="meetViewSelected.compositionData && meetViewSelected.compositionData.img.length > 10">
                            <img style='width:100%' ng-src="{{meetViewSelected.compositionData.img.length > 10 ? meetViewSelected.compositionData.img : ''}}" alt="Skład meczowy">
                        </div>
                    </div>
                    <div class="row page-break" ng-show="!meetViewSelected">
                        <p style="margin:20px"> Niestety, Twój zespół nie ma zaplanowanych żadnych meczy na przyszłe dni!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-floating cyan tutorialOnButton" ng-click="getTutorial('sklad_meczowy')"><i class="fa fa-question"></i></a>

    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>