<div ng-init="setPerm(['KOORD','TRENER','STAFF'])"></div>
<div class="section paymentSection" ng-init="initVideo()">
    <div ng-show='showContent' class="row">
        <div ng-hide="endFragmentSelect || showSendProgressBar">
            <div class="col s12 m7" ng-hide='showVideoPlayer'>
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">Wycinanie fragmentu</div>
                        <div class="row">
                            <div class="row" style='padding: 10px'>
                                <h5>Wybierz z dysku video do obróbki</h5>
                                <p styl='font-size:14px; color: #808080'>Pamiętaj! Używaj plików w foramcie mp4. Duży plik znacząco wpłynie na długość przetwarzania.</p>
                            </div>
                            <div class="file-field input-field" id="usermImgFileContener" style='width: 80%; margin: auto'>
                                <div class="btn">
                                    <span>Wgraj video</span>
                                    <input type="file" name="files[]" accept="video/mp4" id="videoToAnalize">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Wgraj video">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m7" ng-show='showVideoPlayer'>
                <div class="row">
                    <div class='videoPlayerContainer'>
                        <video class='videoPLayer' id='playerVid' data-time-start='3' data-time-end='10'>
                                    <source src="" type="video/mp4" >
                            </video>
                        <div class='playerPlayStopButton'>
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </div>
                        <div class='playerTime'>
                            <div class='currentTime'></div>
                        </div>
                        <div class='playerTimeShow'></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content" style='padding-bottom:0 !important;'>
                        <div class="card-title" style='margin-bottom:0'>
                            <div class="form-group ">
                                <div class="flexIconContener">
                                    <div ng-repeat='icon in iconList' class='oneIconfToAnalizer tooltipped' data-position="bottom" data-delay="50" data-tooltip="{{icon.description}}" data-analize-name='{{icon.description}}'>
                                        <img src="{{icon.url}}" alt="{{icon.description}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content" style='padding-bottom:0 !important;'>
                        <div class="card-title" style='margin-bottom:0'>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="input-field col s12 m8">
                                        <input id='fragmentName' type="text" placeholder="Nazwa fragmentu" class="validate" style='margin-top: 8px; height: 1.7rem'>
                                        <label for="fragmentName">Podaj nazwę wycinka</label>
                                    </div>
                                    <button type="button " class="waves-effect waves-light btn col s12 m4" style='margin-top:16px' ng-click="addFragment()">Dodaj</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style='margin-top: 25px;'>
                    <button type="button " class="waves-effect waves-light btn col s12" ng-click='endFragmentSelect = true'>Zakończ wybór fragmentów</button>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="card" ng-show='fragmentList.length <= 0 '>
                    <div class="card-content">
                        <div class="card-title">Lista fragmentów</div>
                        <div class="row">
                            <div class="row" style='padding: 10px'>
                                <h5 style='margin-top: 0;'>Wytnij coś</h5>
                                <p>Pamiętaj, że fragmenty będą zgrupowane po nazwach jeśli te się powtórzą.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" ng-repeat="fragment in fragmentList" ng-show='fragmentList.length > 0 '>
                    <div class="card-content" style='padding-bottom: 0 !important;'>
                        <div class="card-title fragmentName" style='margin-bottom: 0;'>{{fragment.name}}</div>
                        <div class="row">
                            <table class="table centered highlight striped fragmentList">
                                <tr style='cursor: pointer;' ng-repeat="oneFragment in fragment.list" ng-click='editFragment(fragment.name,$index)'>
                                    <td style='padding: 3px'>{{oneFragment.start}} - {{oneFragment.end}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div ng-show="endFragmentSelect && !showSendProgressBar">
            <div class="col s12 m10 offset-m1">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            Uzupełnij informację o analizie
                        </div>
                        <div class="row" style='padding: 0 50px;'>
                            <div class="row">
                                <button type="button" class="waves-effect waves-light btn" style='margin: auto;' ng-click="endFragmentSelect = false">< Wróć do edycji fragmentów</button>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id='analizeName' type="text" placeholder="Nazwa" class="validate">
                                    <label for="analizeName">Podaj nazwę danej analizy</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id='analizeDescription' placeholder="Opis analizy" class="materialize-textarea"></textarea>
                                    <label for="analizeDescription">Opis analizy</label>
                                </div>
                            </div>
                            <div class="row" style='margin-top: 10px'>
                                <p>Pamiętaj! Czas zapisu analizy zależy od rozmiaru załączonego pliku. Jeśli Twój plik jest znaczących rozmiarów przesyłanie może zająć bardzo dużo czasu.</br>
                                    Nie zamykaj tej strony w czasie zapisu.
                                </p>
                                <button type="button" class="waves-effect waves-light btn" style='margin: auto;margin-top: 10px' ng-click="saveAnalize()">Zapisz analizę</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="showSendProgressBar">
            <div class="col s12 m10 offset-m1">
                <div class="card">
                    <div class="card-content" ng-show='stillIsSending'>
                        <div class="card-title">
                            Trwa przesyłanie klipu video na server
                        </div>
                        <div class="row" style='padding: 0 50px;'>
                            <div class='loaderContainer' style='height: 200px'>
                                <div id="loader-wrapper">
                                    <div id="loader"></div>
                                </div>
                            </div>
                            <div class="progresBarSender">
                                <span>0%</span>
                                <div class="progresBarSenderPrc"></div>
                            </div>
                            <p style='margin-top: 10px'>Trwa wysyłanie pliku. Prosimy o niezamykanie tej strony do zakończenia.</p>
                        </div>
                    </div>
                    <div class="card-content" ng-show='!stillIsSending'>
                        <div class="card-title">
                            Zapis udany
                        </div>
                        <div class="row" style='padding: 50px;'>
                            <p style='margin-top: 10px'>Dziękujemy za cierpliwość. Twoj klip video został przesłany na server. Poczekaj jeszcze chwilkę wytniemy wybrane przez Ciebie fragmenty. Gdy skończymy zostaniesz przekierowany do lsty analiz.</p>
                        </div>
                    </div>
                    <div class="row" ng-show='!stillIsSending' style='padding: 0 50px;'>
                        <div class='loaderContainer' style='height: 200px'>
                            <div id="loader-wrapper">
                                <div id="loader"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            Materialize.updateTextFields();
            $('select').material_select();
            $('ul.tabs').tabs();
            $('.collapsible').collapsible();
            $('.datetimepicker').datetimepicker({
                format: 'Y/m/d',
                lang: 'pl',
                timepicker: false,
            });
        }, 500);
    });
</script>