<div ng-init="setPerm(['KOORD','TRENER','STAFF'])"></div>
<div class="section paymentSection" ng-init="loadAnalize()">
    <div ng-show='showContent' class="row">
        <div class="col s12" ng-hide="analizeList.length <= 0">
            <div class="card">
                <div class="card-content" style='padding-bottom: 0 !important;'>
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <input id='changeFilter' type="text" placeholder='Wpisz szukaną frazę' ng-model='searchText'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12" ng-show="analizeList.length <= 0">
            <h5 style="text-align: center;color: #a1a1a1; margin-top: 50px">Niestety żadna analiza nie została jeszcze wykonana.
            </br>Utwórz pierwszą przechodząc do zakładki Analiza wideo > Dodaj analizę.</h5>
        </div>
        <div class="col s12" ng-hide="analizeList.length <= 0">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Dostępne analizy wideo</div>
                    <div class="row" ng-show='selectedList.length > 0' style='padding: 20px;background: linear-gradient(180deg, #4167b2 0%,#5baaff 150%);color: #f6f6f6;'>
                        <div class="titleIn col s12 m6">Wybranych elementów: {{selectedList.length}} </div>
                        <div class="actions col s12 m6">
                            <button type="button" class="waves-effect waves-light btn" ng-click="deleteList()">Usuń wybrane</button>
                        </div>
                    </div>
                    <div class="row">
                        <table class='table centered highlight striped'>
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class='analizeChecked filled-in' id='analizeChecked-all' /><label for="analizeChecked-all">#</label></th>
                                    <th>Nazwa</th>
                                    <th>Autor</th>
                                    <th>Opis</th>
                                    <th>Fragmenty</th>
                                    <th>Usuń</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="analize in analizeList | filter:searchText track by $index">
                                    <td>
                                        <input type="checkbox" class='analizeChecked filled-in' id='analizeChecked-{{analize.id}}' /><label style='margin-left: 17px;' for="analizeChecked-{{analize.id}}"></label>
                                    </td>
                                    <td>{{analize.name}}</td>
                                    <td>{{analize.firstname}} {{analize.lastname}}</td>
                                    <td>{{analize.description}}</td>
                                    <td>
                                        <span style='cursor: pointer; padding: 10px;' ng-click="showAnalize(analize.id)"><i class="fa fa-eye fa-fw" aria-hidden="true"></i></span>
                                    </td>
                                    <td>
                                        <span style='cursor: pointer; padding: 10px;' ng-click="deleteAnalize(analize.id)"><i class="fa fa-times fa-fw" aria-hidden="true"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            Materialize.updateTextFields();
            $('select').material_select();
            $('ul.tabs').tabs();
            $('.collapsible').collapsible();
            $('.datetimepicker').datetimepicker({
                format: 'Y/m/d',
                lang: 'pl',
                timepicker: false,
            });
        }, 500);
    });
</script>
