<div ng-init="setPerm(['KOORD'])"></div>

<div class="section">
    <div ng-show='showContent' class="row" ng-init="initMainSettings()">
        <div class="col s12 m10 offset-m1">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Główne dane i ustawienia
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col s12 m10 offset-m1">
                                    <p>Data wygaśnięcia licencji: <span style='font-weight: bold'> {{mainSettings.licenseEnd}} </span></p>
                                    <p>Pozostało: <span style='font-weight: bold' class='licenseEndDay'> {{dayToDate(mainSettings.licenseEnd)}} </span> dni</p>
                                    <p>Wersja licencji: <span style='font-weight: bold'> {{mainSettings.licenseType}} </span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m10 offset-m1">
                                    <input type="text" disabled value="{{mainSettings.appVersion}}">
                                    <label for="appName">Aktualna wersja aplikacji</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="input-field col s12 m10 offset-m1">
                                            <input value="{{mainSettings.appName}}" id="appName" type="text" class="validate">
                                            <label for="appName">Nazwa aplikacji</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>