<table class="tableShowPacketData">
    <thead>
        <tr>
            <th>
                <h4>Usługi i limity</h4>
            </th>
            <th>
                <h4>Status pakietu Basic</h4>
            </th>
            <th>
                <h4>Status pakietu Standard</h4>
            </th>
            <th>
                <h4>Status pakietu Professional</h4>
            </th>
            <th>
                <h4>Status pakietu Champion</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Limit drużyn</strong></td>
            <td>
                <h6>4 drużyny</h6>
            </td>
            <td>
                <h6>10 drużyn</h6>
            </td>
            <td>
                <h6>30 drużyn</h6>
            </td>
            <td>
                <h6>Brak limitu</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Limit koordynatorów</strong></td>
            <td>
                <h6>1 konto</h6>
            </td>
            <td>
                <h6>1 konto</h6>
            </td>
            <td>
                <h6>2 konto</h6>
            </td>
            <td>
                <h6>Brak limitu</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Limit trenerów</strong></td>
            <td>
                <h6>8 kont</h6>
            </td>
            <td>
                <h6>20 kont</h6>
            </td>
            <td>
                <h6>60 kont</h6>
            </td>
            <td>
                <h6>Brak limitu</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Limit zawodników</strong></td>
            <td>
                <h6>20 zawodników / drużyna</h6>
            </td>
            <td>
                <h6>30 zawodników / drużyna</h6>
            </td>
            <td>
                <h6>Brak limitu</h6>
            </td>
            <td>
                <h6>Brak limitu</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Motywy graficzne</strong></td>
            <td>
                <h6>3 podstawowe</h6>
            </td>
            <td>
                <h6>Wszystkie Dostępne</h6>
            </td>
            <td>
                <h6>Dostępne / Najnowsze</h6>
            </td>
            <td>
                <h6>Dostępne / Najnowsze / Na zamówienie</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Wsparcie techniczne</strong></td>
            <td>
                <h6>PEŁNE</h6>
            </td>
            <td>
                <h6>PEŁNE</h6>
            </td>
            <td>
                <h6>PEŁNE</h6>
            </td>
            <td>
                <h6>PEŁNE</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Instrukcja / manual</strong></td>
            <td>
                <h6>PDF</h6>
            </td>
            <td>
                <h6>PDF</h6>
            </td>
            <td>
                <h6>PDF + MP4</h6>
            </td>
            <td>
                <h6>PDF + MP4</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Dostęp do Gold Club</strong></td>
            <td>
                <h6>po 3 latach</h6>
            </td>
            <td>
                <h6>po 2 latach</h6>
            </td>
            <td>
                <h6>po roku</h6>
            </td>
            <td>
                <h6>natychmiast</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Wprowadzenie danych przez nas</strong></td>
            <td>
                <h6>Brak możliwości</h6>
            </td>
            <td>
                <h6>Podstawowe dane</h6>
            </td>
            <td>
                <h6>Pełne dane</h6>
            </td>
            <td>
                <h6>Pełne dane i aktualizacje</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Wersja pobilna platformy</strong></td>
            <td>
                <h6>Pełna</h6>
            </td>
            <td>
                <h6>Pełna</h6>
            </td>
            <td>
                <h6>Pełna</h6>
            </td>
            <td>
                <h6>Pełna</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Szyfrowany dostęp z certyfikatem SSL</strong></td>
            <td>
                <h6>Brak</h6>
            </td>
            <td>
                <h6>Aktywny</h6>
            </td>
            <td>
                <h6>Aktywny</h6>
            </td>
            <td>
                <h6>Aktywny</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Aktualizacja platformy</strong></td>
            <td>
                <h6>PEŁNA - SPORADYCZNA</h6>
            </td>
            <td>
                <h6>PEŁNA - SPORADYCZNA</h6>
            </td>
            <td>
                <h6>PEŁNA - SZYBKA</h6>
            </td>
            <td>
                <h6>PEŁNA - NATYCHMIASTOWA</h6>
            </td>
        </tr>
        <tr>
            <td><strong>Aktualizacja modułów</strong></td>
            <td>
                <h6>PEŁNA - SPORADYCZNA</h6>
            </td>
            <td>
                <h6>PEŁNA - SPORADYCZNA</h6>
            </td>
            <td>
                <h6>PEŁNA - SZYBKA</h6>
            </td>
            <td>
                <h6>PEŁNA - NATYCHMIASTOWA</h6>
            </td>
        </tr>
    </tbody>
</table>