<div ng-init="setPerm(['KOORD'])"></div>

<div class="section">
    <div ng-show='showContent' class="row" ng-init="initThemes()">
        <div class="col s12 m10 offset-m1">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Podstawowa grafika na stronie
                    </div>
                    <div class="row">
                        <h5>Wybierz szablon wyglądu z poniższych</h5>
                        <select id='selectThemes'>
                            </select>
                    </div>
                    <div class="row">
                        <div class="logoLoginPage">
                            <div class="row">
                                <div class='col s6  ' style='margin-top:12px'>
                                    <img style='max-height:50px' src="./files/img/club_logo.png" alt="login page logo" id='prevLogo'>
                                </div>
                                <form id="addLogoForm" enctype="multipart/form-data" class='col s6 '>
                                    <input type="hidden" name="token" value="{{user.token}}">
                                    <div class="file-field input-field">
                                        <div class="btn" style='float: none'>
                                            <span>Zmień logo</span>
                                            <input type="file" name="logoFile" id="logoFile" accept=".png">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="backgroundLoginPage">
                            <div class="row">
                                <div class='col s6 ' style='margin-top:12px'>
                                    <img style='max-height:50px' src="./files/img/background.jpg" alt="login page background" id='prevBack'>
                                </div>
                                <form id="addBackgroundForm" enctype="multipart/form-data" class='col s6 '>
                                    <input type="hidden" name="token" value="{{user.token}}">
                                    <div class="file-field input-field">
                                        <div class="btn" style='float: none'>
                                            <span>Zmień tło</span>
                                            <input type="file" name="backFile" id="backFile" accept=".jpg">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="pageIcon">
                            <div class="row">
                                <div class='col s6' style='margin-top:12px'>
                                    <img style='max-height:50px' src="./files/img/favicon.ico" alt="panel icon" id='prevIconPage'>
                                </div>
                                <form id="addIconForm" enctype="multipart/form-data" class='col s6 '>
                                    <input type="hidden" name="token" value="{{user.token}}">
                                    <div class="file-field input-field">
                                        <div class="btn" style='float: none'>
                                            <span>Zmień ikonę</span>
                                            <input type="file" name="icoFile" id="icoFile" accept=".ico">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>