<div ng-init="setPerm(['STAFF','TRENER','KOORD'])"></div>
<a ng-click="getTutorial('nowy_konspekt')" class="btn-floating btn-large waves-effect waves-light tutorialOnButton"  ng-show="user && user.role != 'ZAWODNIK'">
    <i class="fa fa-question"></i>
</a>
<div class="section" ng-init="initConspectusAdd()">
    <div ng-show='showContent' class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Tworzenie nowego konspektu</div>
                    <div class="row">
                        <div class="col s6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input id='coName' type="text" placeholder="Tytuł" value='{{coName}}' class="validate" requied>
                                        <label for="coName">Tytuł</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id='sezon' type="text" placeholder="Sezon" value='{{sezon}}' class="validate" requied>
                                        <label for="sezon">Sezon</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input id='coDate' class='datetimepicker' type="text" placeholder="Data" value='{{coDate}}' class="validate" requied>
                                        <label for="coDate">Data</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id='coPlace' type="text" placeholder="Miejsce" value='{{coPlace}}' class="validate" requied>
                                        <label for="coPlace">Miejsce</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input id='coUserCount' type="text" placeholder="Ilość osób" value='{{coUserCount}}' class="validate" requied>
                                        <label for="coUserCount">Ilość osób</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id='coPower' type="text" placeholder="Obciążenie" value='{{coPower}}' class="validate" requied>
                                        <label for="coPower">Obciążenie</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12" style="margin:0;">
                                        <div id='coTags' style='margin-top: 35px;' class="chips chips-placeholder"></div>
                                        <label for="coTags">Powiązane słowa kluczowe</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col s6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id='coTeam' type="text" placeholder="Drużyna / kategoria wiekowa" value='{{coTeam}}' class="validate" requied>
                                        <label for="coTeam">Drużyna / kategoria wiekowa</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="coOp" placeholder="Potrzebny sprzęt" class="materialize-textarea" data-length="255">{{coOp}}</textarea>
                                        <label for="coOp">Potrzebny sprzęt</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button type="button" class="waves-effect waves-light btn" ng-click="saveConspect();">Zapisz</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="collapsible" data-collapsible="accordion" style='margin: 0 20px;'>
                        <li>
                            <div class="collapsible-header "><i class="material-icons">assignment</i>Część wstępna</div>
                            <div id='coStart' class="collapsible-body conspectBodyCol">
                                <div class="data">
                                </div>
                                <div class="actions">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="addSimpleFieldCo('coStart');">proste pole + </button>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="selectFromWidget('coStart');">Wybierz cwiczenie</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">assignment_late</i>Część główna</div>
                            <div id='coMiddle' class="collapsible-body conspectBodyCol">
                                <div class="data">
                                </div>
                                <div class="actions">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="addSimpleFieldCo('coMiddle');">proste pole + </button>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="selectFromWidget('coMiddle');">Wybierz cwiczenie</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">assignment_turned_in</i>Część końcowa</div>
                            <div id='coEnd' class="collapsible-body conspectBodyCol">
                                <div class="data">
                                </div>
                                <div class="actions">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="addSimpleFieldCo('coEnd');">proste pole + </button>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="selectFromWidget('coEnd');">Wybierz cwiczenie</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.datetimepicker').datetimepicker({
            format: 'Y:m:d H:i:s',
            lang: 'pl',
            timepicker: true,
        });
        M.updateTextFields();
        $('.chips-placeholder').chips({
            placeholder: ' + Kolejne',
            secondaryPlaceholder: 'Wpisz powiązane słowa kluczowe',
        });
    });
</script>