<div ng-init="setPerm(['STAFF','TRENER','KOORD'])"></div>
<div class="section" ng-init="initConspectusAdd()">
    <div ng-show='showContent' class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Tworzenie nowego konspektu</div>
                    <div class="row">
                        <div class="col s6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12 ">
                                        <input id='coName' type="text" placeholder="Tytuł" value='{{coName}}' class="validate" requi#ec1800>
                                        <label for="coName">Tytuł</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input id='coDate' class='datetimepicker' type="text" placeholder="Data" value='{{coDate}}' class="validate" requi#ec1800>
                                        <label for="coDate">Data</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id='coSezon' type="text" placeholder="Sezon" value='{{coSezon}}' class="validate" requi#ec1800>
                                        <label for="coSezon">Sezon</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <div id='coTags' style='margin-top: 10px;' class="chips chips-placeholder"></div>
                                        <label for="coTags">Powiązane słowa kluczowe</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col s6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id='coTeam' type="text" placeholder="Drużyna / kategoria wiekowa" value='{{coTeam}}' class="validate" requi#ec1800>
                                        <label for="coTeam">Drużyna / kategoria wiekowa</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="coOp" placeholder="Opis" class="materialize-textarea " data-length="255">{{coOp}}</textarea>
                                        <label for="coOp">Opis</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button type="button" class="waves-effect waves-light btn" ng-click="saveConspect();">Zapisz</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="collapsible" data-collapsible="accordion" style='margin: 0 20px;'>
                        <li>
                            <div class="collapsible-header "><i class="material-icons">assignment</i>Część wstępna</div>
                            <div id='coStart' class="collapsible-body conspectBodyCol">
                                <div class="data">
                                </div>
                                <div class="actions">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="addSimpleFieldCo('coStart');">proste pole + </button>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="selectFromWidget('coStart');">Wybierz cwiczenie</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">assignment_late</i>Część główna</div>
                            <div id='coMiddle' class="collapsible-body conspectBodyCol">
                                <div class="data">
                                </div>
                                <div class="actions">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="addSimpleFieldCo('coMiddle');">proste pole + </button>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="selectFromWidget('coMiddle');">Wybierz cwiczenie</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">assignment_turned_in</i>Część końcowa</div>
                            <div id='coEnd' class="collapsible-body conspectBodyCol">
                                <div class="data">
                                </div>
                                <div class="actions">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="addSimpleFieldCo('coEnd');">proste pole + </button>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <button type="button" class="waves-effect waves-light btn" ng-click="selectFromWidget('coEnd');">Wybierz cwiczenie</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.datetimepicker').datetimepicker({
            format: 'Y:m:d',
            lang: 'pl',
            timepicker: false,
        });
        Materialize.updateTextFields();
        $('.chips-placeholder').material_chip({
            placeholder: ' + Kolejne',
            secondaryPlaceholder: 'Wpisz powiązane słowa kluczowe',
        });
    });
</script>
