<div ng-init="setPerm(['STAFF','TRENER','KOORD'])"></div>
<div class="section" ng-init="initConsAnimList()">
    <div ng-show='showContent' class="row" ng-controller="conspectusCreatorController">
        <div class="col s12">
            <div class="card">
                <div class="card-content" style='padding-bottom: 0 !important;'>
                    <div class="card-title">
                        Filtr wyszukiwania
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <input type="text" placeholder='Wpisz szukaną frazę, tag, nazwę animacji' ng-model="searchText">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3" ng-repeat="anim in animArray | filter:searchText">
            <div class="card">
                <div class="card-content" style='padding-bottom: 0 !important;'>
                    <div class="card-title" style='margin-bottom: 0 !important; text-align:left;'>
                        {{anim.name}}
                        <div class='cardOptionsButton'>
                            <div ng-click="toggleCardOptions( 'cardOptions-anim-'+anim.id )"><i class="fa fa-bars" aria-hidden="true"></i></div>
                            <div id='cardOptions-anim-{{anim.id}}' class='cardOptions'>
                                <div ng-click="loadAndPlay(anim.id)"><i class="fa fa-eye fa-fw" aria-hidden="true"></i></div>
                                <div ng-click="editAnimCon(anim.id)"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></div>
                                <div ng-click="deleteAnimCon(anim.id)"><i class="fa fa-times fa-fw" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="row imgConspectAnim">
                        <img src="{{anim.mainImg}}" alt="Zdjęcie podglądowe - {{anim.name}}">
                    </div>
                    <div class="row" style='height: 80px; position: relative'>
                        <div class="tagsContainer">
                            <div class='oneTag' ng-repeat="tag in anim.tags | limitTo: 6">{{tag}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-hide='showContent' style="position:relative; margin-top:15%; width: 60%; margin-left: auto; margin-right: auto;">
        <h3 style='text-align:center;'>Wczytywanie zawartości...</h3>
        <div class="preloader-wrapper big active" style="margin-left: 45%">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>