<div ng-init="setPerm(['STAFF','TRENER','KOORD'])"></div>
<div class="section" ng-init="initConsectusCreate()">
    <div ng-show='showContent' class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content" ng-controller='conspectusCreatorController'>
                    <div class="card-title">Tworzenie nowego ćwiczenia</div>

                    <div class="row">
                        <div class="col s12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input id='cwName' type="text" placeholder="Nazwa ćwiczenia" value='{{cwName}}' class="validate" requi#ec1800>
                                        <label for="cwName">Nazwa ćwiczenia</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id='cwFieldType' type="text" placeholder="Pole gry" value='{{cwFieldType}}' class="validate" requi#ec1800>
                                        <label for="cwFieldType">Pole gry</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input id='minTime' type="text" placeholder="Czas wykonania (min)" value='{{cwMinTime}}' class="validate" requi#ec1800>
                                        <label for="minTime">Minimalny czas wykonania</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id='maxTime' type="text" placeholder="Czas wykonania (maks)" value='{{cwMaxTime}}' class="validate" requi#ec1800>
                                        <label for="maxTime">Maksymalny czas wykonania</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input id='minPerson' type="text" placeholder="Liczba zawodników (min)" value='{{cwMinPerson}}' class="validate" requi#ec1800>
                                        <label for="minPerson">Minimalna liczba zawodników</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id='maxPerson' type="text" placeholder="Liczba zawodników (maks)" value='{{cwMaxPerson}}' class="validate" requi#ec1800>
                                        <label for="maxPerson">Maksymalna liczba zawodników</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="opCw" placeholder="Opis ćwiczenia" class="materialize-textarea " data-length="255">{{cwOps}}</textarea>
                                        <label for="opCw">Opis ćwiczenia</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="wskCw" placeholder="Wskazówki" class="materialize-textarea " data-length="255">{{cwWsk}}</textarea>
                                        <label for="wskCw">Wskazówki</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <div id='cwTags' style='margin-top: 10px;' class="chips chips-placeholder"></div>
                                        <label for="cwTags">Powiązane słowa kluczowe</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-hide='showAnimCreator'>
                        <div class="form-group">
                            <div class="row">
                                <div class="input-field col s12">
                                    <button type="button" class="waves-effect waves-light btn" ng-click="showAnimCreator = true">Dodaj animacje ćwiczenia</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show='showAnimCreator && !isSelectedField'>
                        <h5>Wybierz rodzaj boiska</h5>
                    </div>

                    <div class="mainCreateContener" ng-show='showAnimCreator'>

                        <div id='itemBox' ng-show='isSelectedField'>
                            <div class='categories' style='border-color:#ec1800' ng-click="changeCategories(mouseActionType.MOVE)">
                                <i class="fa fa-arrows fa-2x tooltipped" aria-hidden="true" data-position="bottom" data-delay="50" data-tooltip="Przesuń"></i>
                            </div>
                            <div class='categories' ng-click="changeCategories(mouseActionType.FIELD_LIST)">
                                <i class="fa fa-picture-o fa-2x tooltipped" aria-hidden="true" data-position="bottom" data-delay="50" data-tooltip="Rodzaj boiska"></i>
                            </div>
                            <div class='categories' ng-click="changeCategories(mouseActionType.ARROW_ADD)">
                                <i class="fa fa-long-arrow-right fa-2x tooltipped" aria-hidden="true" data-position="bottom" data-delay="50" data-tooltip="Akcje"></i>
                            </div>
                            <div class='categories' ng-click="changeCategories(mouseActionType.OBJECT_ADD)">
                                <i class="fa fa-user fa-2x tooltipped" aria-hidden="true" data-position="bottom" data-delay="50" data-tooltip="Zawodnicy"></i>
                            </div>
                        </div>
                        <div id='itemBoxFromCat' ng-show='actualMouseAction==mouseActionType.OBJECT_ADD || actualMouseAction==mouseActionType.ARROW_ADD || actualMouseAction==mouseActionType.FIELD_LIST'>
                            <div class='itemsList' ng-show="actualMouseAction==mouseActionType.FIELD_LIST">
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/grass-full.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Pełne boisko trawiaste">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/grass-upper-half.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Górna połowa boiska trawiastego">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/grass-lower-half.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dolna połowa boiska trawiastego">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/grass-empty.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Puste boisko trawiaste">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/hall-full.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Pełne boisko halowe">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/hall-upper-half.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Górna połowa boiska halowego">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/hall-lower-half.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dolna połowa boiska halowego">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/hall-empty.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Puste boisko halowe">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/tartan-full.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Pełne boisko typu tartan">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/tartan-upper-half.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Górna połowa boiska typu tartan">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/tartan-lower-half.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dolna połowa boiska typu tartan">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/tartan-empty.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Puste boisko typu tartan">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/lines-full.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Pełne boisko - same linie">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/lines-upper-half.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Górna połowa boiska - same linie">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/lines-lower-half.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dolna połowa boiska - same linie">
                                </div>
                                <div class='categoryItems soccerField' ng-click="isSelectedField=true">
                                    <img src="/modules/TrainingConspectus/assets/media/pitch/lines-empty.jpg" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Puste boisko - same linie">
                                </div>
                            </div>
                            <div class='itemsList' ng-show="actualMouseAction==mouseActionType.OBJECT_ADD">
                                <div class='categoryItems'>
                                    <img src="/modules/TrainingConspectus/assets/media/bitmap.png" alt="person1">
                                </div>
                                <div class='categoryItems'>
                                    <img src="/modules/TrainingConspectus/assets/media/bitmap1.png" alt="person2">
                                </div>
                                <div class='categoryItems'>
                                    <img src="/modules/TrainingConspectus/assets/media/bitmap2.png" alt="person3">
                                </div>
                                <div class='categoryItems'>
                                    <img src="/modules/TrainingConspectus/assets/media/ball.png" alt="ball1">
                                </div>
                            </div>
                            <div class='itemsList' ng-show="actualMouseAction==mouseActionType.ARROW_ADD">
                                <div class='categoryItems' ng-click="selectArrow(arrowType.FULL_2)">
                                    <img src="/modules/TrainingConspectus/assets/media/arrow1.png" alt="arrow1">
                                </div>
                                <div class='categoryItems' ng-click="selectArrow(arrowType.FULL_3)">
                                    <img src="/modules/TrainingConspectus/assets/media/arrow2.png" alt="arrow2">
                                </div>
                                <div class='categoryItems' ng-click="selectArrow(arrowType.STRIPED_2)">
                                    <img src="/modules/TrainingConspectus/assets/media/arrow3.png" alt="arrow3">
                                </div>
                                <div class='categoryItems' ng-click="selectArrow(arrowType.STRIPED_3)">
                                    <img src="/modules/TrainingConspectus/assets/media/arrow4.png" alt="arrow4">
                                </div>
                            </div>
                        </div>
                        <div id='canvasBck' ng-show='isSelectedField'>
                            <div id='leftBlockItem'>
                                <div class='itemsList'>
                                    <div class='categoryItems' id='canActionPlay'>
                                        <i class="fa fa-play fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class='categoryItems' id='canActionRotLeft' ng-show="lastSelected!=null">
                                        <i class="fa fa-undo fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class='categoryItems' id='canActionRotRight' ng-show="lastSelected!=null">
                                        <i class="fa fa-repeat fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class='categoryItems' id='canActionDel' ng-show="lastSelected!=null">
                                        <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div id='canvasContainer' ng-show='isSelectedField'></div>
                            <div id="timeline" ng-show='isSelectedField'>
                                <div class='timeElement' style='border-color:#ec1800'> 1 </div>
                                <div id='addFrame'> + </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <div class="input-field col s12">
                                    <button type="button" class="waves-effect waves-light btn" ng-click="saveAnim();">Zapisz</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' style="position:relative; margin-top:30%; width: 60%; margin-left: auto; margin-right: auto;">
        <div class="preloader-wrapper big active" style="margin-left: 40%">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    Materialize.updateTextFields();
    $('.chips-placeholder').material_chip({
        placeholder: ' + Kolejne',
        secondaryPlaceholder: 'Wpisz powiązane słowa kluczowe',
    });

    $(document).ready(function(){
      $('.tooltipped').tooltip({delay: 50});
    });
</script>
