<div ng-init="setPerm(['STAFF','TRENER','KOORD'])"></div>
<div class="section" ng-init="initConsAnimList()">
    <div ng-show='showContent' class="row" ng-controller="conspectusCreatorController">
        <div class="col s12 m6 l3">
            <div class="card " ng-repeat="anim in animArray">
                <div class="card-content" style='padding-bottom: 0'>
                    <div class="card-title">
                        {{anim.name}}
                        <div class='cardOptionsButton'>
                            <div ng-click="toggleCardOptions( 'cardOptions-'+anim.name+'-'+anim.id )"><i class="fa fa-bars" aria-hidden="true"></i></div>
                            <div id='cardOptions-{{anim.name}}-{{anim.id}}' class='cardOptions'>
                                <div ng-click="loadAndPlay(anim.id)"><i class="fa fa-eye fa-fw" aria-hidden="true"></i></div>
                                <div ng-click="editAnimCon(anim.id)"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></div>
                                <div ng-click="deleteAnimCon(anim.id)"><i class="fa fa-times fa-fw" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="row imgConspectAnim">
                        <img src="{{anim.mainImg}}" alt="{{anim.name}}-gif">
                    </div>
                    <div class="row">
                        <div class="tagsContainer">
                            <div class='oneTag'>sport</div>
                            <div class='oneTag'>4-3</div>
                            <div class='oneTag'>skrzydło</div>
                            <div class='oneTag'>ofensywa</div>
                            <div class='oneTag'>rotacja</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-hide='showContent' style="position:relative; margin-top:15%; width: 60%; margin-left: auto; margin-right: auto;">
        <h3 style='text-align:center;'>Wczytywanie zawartości...</h3>
        <div class="preloader-wrapper big active" style="margin-left: 45%">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>