<div ng-init="setPerm(['STAFF','TRENER','KOORD'])"></div>
<div class="section" ng-init="initConsectusCreate()">
    <div ng-show='showContent' class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content" ng-controller='conspectusCreatorController' ng-init="initObjList()">
                    <div class="card-title" ng-init="initBackPrompt()">Tworzenie nowego ćwiczenia</div>

                    <div class="row">
                        <div class="col s12 m6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input id='cwName' type="text" placeholder="Nazwa ćwiczenia" value='{{cwName}}' class="validate" requi#ec1800>
                                        <label for="cwName">Nazwa ćwiczenia</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id='cwFieldType' type="text" placeholder="Pole gry" value='{{cwFieldType}}' class="validate" requi#ec1800>
                                        <label for="cwFieldType">Pole gry</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id='minTime' type="text" placeholder="Czas wykonania (min)" value='{{cwMinTime}}' class="validate" requi#ec1800>
                                        <label for="minTime">Czas wykonania min</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id='maxTime' type="text" placeholder="Czas wykonania (maks)" value='{{cwMaxTime}}' class="validate" requi#ec1800>
                                        <label for="maxTime">Czas wykonania maks</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id='minPerson' type="text" placeholder="Liczba zawodników (min)" value='{{cwMinPerson}}' class="validate" requi#ec1800>
                                        <label for="minPerson">Liczba zawodników min</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id='maxPerson' type="text" placeholder="Liczba zawodników (maks)" value='{{cwMaxPerson}}' class="validate" requi#ec1800>
                                        <label for="maxPerson">Liczba zawodników maks</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-hide='showAnimCreator'>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button type="button" class="waves-effect waves-light btn" ng-click="showAnimCreator = true">Animacja ćwiczenia</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="opCw" placeholder="Opis ćwiczenia" class="materialize-textarea " data-length="255">{{cwOps}}</textarea>
                                        <label for="opCw">Opis ćwiczenia</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="wskCw" placeholder="Wskazówki" class="materialize-textarea " data-length="255">{{cwWsk}}</textarea>
                                        <label for="wskCw">Wskazówki</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s12" style="margin:0">
                                        <div id='cwTags' style='margin-top: 35px;' class="chips chips-placeholder"></div>
                                        <label for="cwTags">Powiązane słowa kluczowe</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button type="button" class="waves-effect waves-light btn" ng-click="saveAnim();">Zapisz</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id='animCreator' ng-show='showAnimCreator'>
                        <div class="animCreatorConainer">
                            <button class='waves-effect waves-light btn widgetClose' style='width:100%' ng-click='endFromFull()'>Zamknij okno</button>
                            <div class="row" ng-show='showAnimCreator && !isSelectedField'>
                                <h5 style='color: white'>Wybierz rodzaj boiska</h5>
                            </div>

                            <div class="mainCreateContener" ng-show='showAnimCreator'>

                                <div id='itemBox' ng-init='OBJ_TYPE=null;'>
                                    <div id='categoryFromItemBox' ng-show="isSelectedField">
                                    </div>
                                    <div id='itemBoxFromCat' class='itemBoxWithItem' ng-show='actualMouseAction==mouseActionType.SHAPE_ADD || actualMouseAction==mouseActionType.OBJECT_ADD || actualMouseAction==mouseActionType.FIELD_LIST'>
                                    </div>
                                </div>

                                <div id='canvasBck' ng-show='isSelectedField'>
                                    <div class='containerforcontainer'>
                                        <div id='canvasContainer' ng-show='isSelectedField'></div>
                                    </div>
                                    <div id='leftBlockItem'>
                                        <div class="playAnimContainer" id='canActionPlay'>
                                            <div style='margin: auto !important'>
                                                <i class="fa fa-play fa-2x fa-fw" aria-hidden="true"></i>
                                            </div>
                                        </div>

                                        <div class="configleft playerConfigLeft">
                                            <p class='confTitle hideIs'>Właściwości odtwarzacza</p>
                                            <div class="configleftContent">

                                                <p class='confInfo'>Ilość klatek pomiędzy klatkami głównymi</p>
                                                <input style='height: 30px; margin-bottom:0;text-align:center;color: #26a69a;' type='number' class='validate' min="5" max="100" ng-model='iloscklatekPomiedzyGlownymi'>

                                                <p class='confInfo'>Jakość wyrenderowanej animacji</p>
                                                <input style='height: 30px; margin-bottom:0;text-align:center;color: #26a69a;' type='number' class='validate' min="1" max="256" ng-model='jakoscAnimacji'>

                                                <p class='confInfo'>Ilość fpsów animacji</p>
                                                <input style='height: 30px; margin-bottom:0;text-align:center;color: #26a69a;' type='number' class='validate' min="10" max="60" ng-model='iloscfps'>
                                                <p class='confInfo'>Wszystkie parametry mają duży wpływ na <b>długość renderowania</b> animacji przy zapisie.</p>

                                            </div>
                                        </div>

                                        <div class="configleft ">
                                            <p class='confTitle showIs'>Konfiguracja obiektu</p>
                                            <div class="configleftContent" style="display:block">
                                                <p class='confInfo' ng-hide="lastSelected || selectedItemList.length > 0">Zaznacz w <b>trybie ruchu</b> obiekt, aby wyświetlić jego opcje</p>
                                                <div ng-show="lastSelected || selectedItemList.length > 0">
                                                    <div id='lastSelectedConfig'></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="configleft">
                                            <p class='confTitle hideIs'>Edycja obiektu</p>
                                            <div class="configleftContent">
                                                <p class='confInfo' ng-hide="lastSelected || selectedItemList.length > 0">Zaznacz w <b>trybie ruchu</b> obiekt, aby wyświetlić jego pola edycyjne</p>
                                                <div ng-show="lastSelected || selectedItemList.length > 0">
                                                    <p class='confInfo'>Skala obiektu</p>
                                                    <p class="range-field" style="padding: 0 20px">
                                                        <span>1'</span>
                                                        <input type="range" id="scaleConfig" min="0.1" max="2" step="0.1" value="1" />
                                                    </p>
                                                    <p class='confInfo'>Rotacja obiektu</p>
                                                    <p class="range-field" style="padding: 0 20px">
                                                        <span>0</span>
                                                        <input type="range" id="rotationConfig" min="-180" max="180" value="0" />
                                                    </p>
                                                    <p class='confInfo'>Usuwanie obiektu</p>
                                                    <div class='flexedIt'>
                                                        <div class='categoryItems additionalIconInConf' id='canActionDel'>
                                                            <i class="fa fa-trash fa-2x fa-fw" style='color:#dedede' aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id='itemBox' class='itemBox-bottom' ng-show='isSelectedField'>
                                    <div class="itemSettingsTrainingCreator switch">
                                        <label style='color:#222a2d;'>
                                            Rotacja
                                            <input type="checkbox" id='turnOnRotation' ng-model="turnOnRotation">
                                            <span style='background-color: rgb(42, 52, 56);' class="lever"></span>
                                        </label>
                                    </div>
                                    <div class="itemSettingsTrainingCreator switch">
                                        <label style='color:#222a2d;'>
                                            Siatka
                                            <input type="checkbox" id='turnOnHelperNet' ng-model="turnOnHelperNet">
                                            <span style='background-color: rgb(42, 52, 56);' class="lever"></span>
                                        </label>
                                    </div>
                                    <div class="itemSettingsTrainingCreator switch">
                                        <label style='color:#222a2d;'>
                                            Pełny ekran
                                            <input type="checkbox" id='turnOnHekperFullScreen' ng-model="turnOnHekperFullScreen">
                                            <span style='background-color: rgb(42, 52, 56);' class="lever"></span>
                                        </label>
                                    </div>
                                    <div id="timeline" ng-show='isSelectedField'>
                                        <p style='color:#222a2d;'>Klatki animacji</p>
                                        <div class='timeElement' style='border-color:#ec1800'> 1 </div>
                                        <div id='deleteFrame' ng-click='deleteFrame()'> - </div>
                                        <div id='addFrame'> + </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-floating cyan tutorialOnButton" ng-click="getTutorial('nowe_cwiczenie')"><i class="fa fa-question"></i></a>

    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>

</div>

<script>
    M.updateTextFields();

    $('.chips-placeholder').chips({
        placeholder: ' + Kolejne',
        secondaryPlaceholder: 'Wpisz powiązane słowa kluczowe',
    });

    $(document).ready(function() {
        $('.tooltipped').tooltip({
            delay: 50
        });
    });
</script>