/* --- MAIN --- */

body {
  background: #eaeaea;
  color: #4e4e4e;
}

a {
  color: #4e98da;
}

a:hover {
  color: #0059ff;
}

#loadingContent {
  background: #222222;
}

.btn {
  background-color: #28509a;
}

.tutorialOnButton{
    background-color: #28509a;
  }

.tutorialOnButton:hover{
  background-color: #14326b;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  80%, 100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  80%, 100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.tutorialOnButton i{
  -webkit-animation: tada 3s linear infinite;
  animation: tada 3s linear infinite;
}

.tutorialOnButton i:hover {
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
}

.btn:hover {
  background-color: #5791ff;
}

.btn:focus {
  background-color: #28509a;
}

table.highlight>tbody>tr:hover {
  background-color: #eaeaea;
}

.tab a.active {
  background-color: #fff !important;
  color: #28509a !important;
}

.tabs .tab a {
  background-color: #fff !important;
  color: #28509a !important;
}

.tabs .tab a:hover {
  color: #5791ff !important;
}

.gritter-item {
  background: #2a2a2a !important;
  border-top: 4px solid #28509a;
}

.collapsible-body {
  background-color: #fff;
}

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #eaeaea;
}

.c3-chart-arc .c3-gauge-value {
  fill: #777 !important;
}

.c3 text {
  fill: #4e4e4e;
}

text tspan {
  fill: #4e4e4e;
}

.c3 path {
  stroke: #4e4e4e;
}

.secondary-content {
  color: #28509a;
}


/* --- SIDEBAR --- */

#sidebar {
  background: #1a1a1a;
}

ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
  background: rgba(0, 0, 0, 0.2);
  border-left: solid 1px #5791ff;
}

ul.sidebar-menu li ul.sub li {
  background: rgba(0, 0, 0, 0.2);
}

.sidebar-menu .select-dropdown {
  border-bottom-color: #28509a !important;
}

.dropdown-content li:hover {
  background-color: #fff;
}

.dropdown-content {
  background-color: #eaeaea;
}

.dropdown-content li.active {
  background-color: #eaeaea;
}

.dropdown-content li.selected {
  background-color: #fff;
}

.dropdown-content li>span {
  color: #4e4e4e;
}

.input-field label {
  color: rgb(144, 144, 144);
}


/* --- TOPBAR --- */

.topbar {
  background: #28509a;
}

nav ul a:hover {
  color: #5791ff;
}

.fa-color {
  color: #fff;
  transition: all .2s;
}

.fa-color:hover {
  color: rgba(255, 255, 255, 0.5);
}

.notifyContenerTitle {
  background: #2a2a2a;
}

.notif a {
  background: #FFFFFF !important;
}

.notfi a:hover {
  background: #C4C4C4 !important;
}

.topbar span.badge.new {
  background-color: #2a2a2a;
}


/* --- HOME PANEL --- */

.eventTableDashboard li,
.todoTable li {
  background: white;
}

.card {
  background: #f9f9f9;
  ;
}

.card-title {
  background: white;
  color: black;
}

.card-title:after {
  background: #4e98da;
}

.events-text-color {
  color: #7f7f7f;
}

#todoText {
  background: #fff;
}

#todoButton {
  background: #fff;
  color: #7f7f7f;
}

#todoButton .fa-plus:hover {
  color: #28509a;
}


/* --- MY PROFILE PANEL --- */

.validate {
  color: #4e4e4e;
}

input[type=text]:not(.browser-default):disabled {
  color: rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #28509a;
  box-shadow: 0 1px 0 0 #28509a;
}

input:not([type]):disabled+label,
input:not([type])[readonly="readonly"]+label,
input[type=text]:not(.browser-default):disabled+label,
input[type=text]:not(.browser-default)[readonly="readonly"]+label,
input[type=password]:not(.browser-default):disabled+label,
input[type=password]:not(.browser-default)[readonly="readonly"]+label,
input[type=email]:not(.browser-default):disabled+label,
input[type=email]:not(.browser-default)[readonly="readonly"]+label,
input[type=url]:not(.browser-default):disabled+label,
input[type=url]:not(.browser-default)[readonly="readonly"]+label,
input[type=time]:not(.browser-default):disabled+label,
input[type=time]:not(.browser-default)[readonly="readonly"]+label,
input[type=date]:not(.browser-default):disabled+label,
input[type=date]:not(.browser-default)[readonly="readonly"]+label,
input[type=datetime]:not(.browser-default):disabled+label,
input[type=datetime]:not(.browser-default)[readonly="readonly"]+label,
input[type=datetime-local]:not(.browser-default):disabled+label,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"]+label,
input[type=tel]:not(.browser-default):disabled+label,
input[type=tel]:not(.browser-default)[readonly="readonly"]+label,
input[type=number]:not(.browser-default):disabled+label,
input[type=number]:not(.browser-default)[readonly="readonly"]+label,
input[type=search]:not(.browser-default):disabled+label,
input[type=search]:not(.browser-default)[readonly="readonly"]+label,
textarea.materialize-textarea:disabled+label,
textarea.materialize-textarea[readonly="readonly"]+label {
  color: rgb(144, 144, 144);
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #28509a;
}


/* --- MY REPORTS --- */

.reports-bg {
  background: #fff;
}


/* --- FREQUENCY PANEL --- */

.freqTable tbody tr {
  background-color: #fff;
  transition: background-color .2s;
}

.freqTable tbody tr:hover {
  background-color: #eaeaea;
  transition: background-color .2s;
}

input[type=checkbox]:checked+.lever:after {
  background-color: #28509a !important;
}

input[type=checkbox]:checked+.lever {
  background-color: #28509a !important;
}


/* --- CALENDAR --- */

#calendar {
  color: #4e4e4e;
}

.fc-state-default,
.fc-state-default .fc-button-inner {
  background: transparent;
}

.fc-button-inner:hover {
  background: #eaeaea;
}

.fc-state-active .fc-button-inner {
  background: #fff;
}

.fc-state-active,
.fc-state-active .fc-button-inner {
  background: #eaeaea;
  color: #4e4e4e;
}

.fc-widget-header {
  color: #4e4e4e;
  border: 1px solid #eaeaea;
  background: #eaeaea;
}

.fc-state-highlight {
  background: #eaeaea;
}

.fc-widget-content {
  color: #4e4e4e;
  border: 1px solid #eaeaea;
}

.fc-event-skin {
  border-color: #28509a;
  background-color: #28509a;
}

.fc-event-skin {
  color: #fff;
}

.fc-event-time {
  letter-spacing: 2px;
}

.fc-grid .fc-event-time {
  font-weight: normal !important;
}


/* --- SHOW PLAYERS PANEL --- */

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #28509a;
  border-bottom: 2px solid #28509a;
}


/* --- PAYMENTS IN DASHBOARD --- */

.paymentPrice {
  color: rgb(16, 29, 37);
}