.categoriesList {
    width: 52px;
}

#canvasContainer {
    max-width: 800px;
    overflow: hidden;
    float: left;
    width: calc( 100% - 100px);
}

.mainCreateContener {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: block;
    position: relative;
}

.inputAnimTitle {
    float: right;
}

.inputAnimTitle div {
    margin: 0;
}

h6 {
    float: left;
    line-height: 2;
    margin: 0;
    padding: 0;
}

#animName {
    color: white;
    margin: 0;
    margin-top: 9px;
    height: 2rem;
}

.inputAnimTitle button {
    margin-top: 7px;
    margin-right: 10px;
}

.imgConspectAnim {
    position: relative;
}

.imgConspectAnim img {
    max-height: 150px;
    width: 100%;
}

.tagsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.oneTag {
    padding: 4px 8px;
    color: white;
    background: rgb(41, 124, 248);
    margin: 2px;
    border-radius: 20px;
}

.categories,
.categoryItems {
    margin: 5px;
    line-height: 3.7;
    color: #d9d9d9;
    margin-right: 0;
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .2s;
}

.itemsList {
    overflow: hidden;
}

.categoryItems {
    margin: 5px;
    margin-right: 0;
}

.categories:hover,
.categoryItems:hover {
    border-color: #6d6d6d;
    transition: all .2s;
    color: #dd4213;
}

#itemBox,
#itemBoxFromCat {
    background: rgb(54, 64, 69);
    box-shadow: inset 0px 1px 10px 1px rgba(39, 34, 34, 0.5);
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 50px;
}

#itemBox {
    box-shadow: none;
    background: #242e33;
}

#soccerFieldBox {
    width: 100%;
}

#soccerFieldBox tr {
    display: flex;
    margin: 20px;
}

#canvasBck {
    background: #242e33;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

#leftBlockItem {
    width: 50px;
    float: left;
}

.categories {
    position: relative;
}

.categoryItems img,
.soccerField img,
.categories img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timeline {
    width: 50px;
    float: left;
}

.timeElement,
#addFrame {
    width: 50px;
    line-height: 1.8;
    background: rgb(42, 42, 42);
    text-align: center;
    color: white;
    border: 1px solid rgb(42, 42, 42);
    cursor: pointer;
    transition: background-color .2s;
}

.timeElement:hover {
    background-color: rgb(81, 19, 1);
}

#addFrame {
    background-color: rgb(221, 66, 19);
    border: 1px solid rgb(221, 66, 19);
}

#addFrame:hover {
    background-color: rgb(253, 112, 72);
    transition: background-color .2s;
}

#canvasPlayer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    display: none;
}

#playerContent {
    width: 100%;
    max-width: 800px;
    min-height: 100px;
    max-height: 100vh;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.konvajs-content {
    margin: auto;
}

#canvasPlayerContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: calc( 100vh - 110px);
}

#playeControllerPanel {}

#animTimeBack {
    width: 100%;
    height: 3px;
    background: rgb(73, 0, 0);
}

#animTime {
    display: block;
    width: 60%;
    background: linear-gradient(to right, #980000 40%, #ff0000 100%);
    height: 5px;
}

#playerData {
    width: 100%;
    background: #252525;
    color: white;
    line-height: 4;
    overflow: hidden;
}

#playerData p {
    float: left;
    padding: 0 20px;
    margin: 0;
}

#exitPlayer {
    float: right;
    padding: 0 20px;
    line-height: 2;
}

#playerSteringTools {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: #252525;
    color: white;
    transition: color .2s;
}

.animCotrollerButton:hover,
#exitPlayer:hover {
    color: #ff0000;
    cursor: pointer;
    transition: color .2s;
}

#forwardAnim,
#backwardAnim {
    padding-top: 4px;
}

.disableSter {
    color: rgb(82, 82, 82);
    transition: color .2s;
}

.disableSter:hover {
    transition: color .2s;
    color: rgb(82, 82, 82);
}