.categoriesList {
    width: 52px;
}

#canvasContainer {
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    width: 100%;
}

.mainCreateContener {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
}

.containerforcontainer {
    float: left;
    max-width: 1000px;
    width: calc(100% - 250px);
}

@media (max-width:768px) {
    #canvasBck {
        flex-wrap: wrap;
    }
    #leftBlockItem,
    .containerforcontainer,
    .itemBoxWithItem {
        width: 100% !important;
    }
}

.itemBox-bottom {
    margin-top: 5px;
}

#ascrail2000,
#ascrail2000-hr {
    z-index: 90 !important;
}

p.confTitle {
    color: #cacaca !important;
    font-size: 1rem;
    line-height: 2 !important;
    padding: 0 10px;
    text-align: left;
    background: #a51100;
    letter-spacing: 1px;
    border-bottom: 1px solid #7b1b1f;
    cursor: pointer;
}

.hideIs:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    float: right;
    text-decoration: none;
}

.showIs:after {
    content: "\f0d8";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    float: right;
    text-decoration: none;
}

.configleft {
    background: #313c40;
}

.configleftContent {
    display: none;
}

.flexedIt {
    display: flex;
    justify-content: space-evenly;
}

.range-field>span {
    position: absolute;
    right: 20px;
    top: -22px;
    color: white;
}

p.confInfo {
    color: #9f9da0 !important;
    padding: 8px;
    text-align: left;
}

@media (min-height:740px) {
    .itemBox-bottom {
        position: fixed;
        bottom: 5px;
    }
}

.inputAnimTitle {
    display: block;
    max-width: 350px;
    margin: auto;
    margin-bottom: 10px;
}

.inputAnimTitle div {
    margin: 0;
}

.leftConspectColumn {
    float: left;
    width: 40%;
}

.middleConspectColumn {
    float: left;
    width: 60%;
}

@media screen and (max-width: 768px) {
    .middleConspectColumn,
    .leftConspectColumn {
        width: 100%;
    }
}

.conspectCwData {
    padding: 10px 10px 0;
}

.conspectCwData div {
    display: table;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.conspectCwData i,
.conspectCwData p {
    text-align: left;
}

.powImg {
    line-height: 75px;
    color: #dddddd;
    font-size: 1.2rem;
    font-weight: 900;
}

.conspectCwData i {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.opsCw {
    width: 100%;
    display: block !important;
    height: 40px !important;
    margin-top: 10px !important;
    overflow-y: scroll !important;
}

.conspectCwData p {
    margin-left: 10px !important;
    line-height: 30px !important;
    font-size: 1rem;
    color: #6c6c6c !important;
}

h6 {
    float: left;
    line-height: 2;
    margin: 0;
    padding: 0 15px;
}

#animName {
    color: white;
    margin: 0;
    margin-top: 9px;
    height: 2rem;
}

.inputAnimTitle button {
    margin-top: 7px;
    margin-right: 10px;
}

.imgConspectAnim {
    position: relative;
}

.sharedPersonContainerDel {
    margin: 0 !important;
    cursor: pointer;
}

.sharedPersonContainer {
    display: flex !important;
    line-height: 2.2rem;
    justify-content: space-between;
    font-size: 12px;
    margin: 0 2px !important;
    border: 1px solid red;
    border-radius: 20px;
    padding: 0px 10px;
}

.cardConspectList {
    height: 230px;
}

.card .card-content .sharedFor {
    width: 100%;
    margin: 10px !important;
}

.sharedFor b {
    margin-bottom: 8px;
}

.inputAnimTags {
    padding: 5px;
    width: 100%;
    overflow: hidden;
    color: white;
}

.inputAnimTags .chip {
    margin-right: 5px;
    height: 22px;
    line-height: 22px;
    color: white;
    background-color: #297cf8;
}

.inputAnimTags .chip .close {
    line-height: 22px;
}

.inputAnimTags .chips {
    min-height: 0;
}

.inputAnimTags .chips .input {
    width: 230px !important;
    height: 2rem;
    padding-top: 5px;
    color: white;
}

.inputAnimTags div,
.inputAnimTags div div {
    margin: 0;
}

.imgConspectAnim img,
.imgConspectAnim .gifplayer-wrapper img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 2px solid #e1301b;
    display: block;
}

.coElement {
    position: relative;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #c74040;
    display: block;
    width: 100%;
    overflow: hidden;
}

.elementTitle {
    width: 100%;
}

.elementContent {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.elementTime {
    width: 100%;
    align-self: center;
}

.coElementFull {
    display: flex;
    align-items: stretch;
}

.coElement:first-child {
    margin-top: 0;
}

.tagsContainer {
    width: 100%;
    padding: 5px;
    display: table;
}

.oneTag,
.oneTagFull {
    font-size: 10px;
    padding: 4px 8px !important;
    float: left;
    color: white;
    background: rgb(41, 124, 248);
    margin: 2px !important;
    border-radius: 20px;
}

.conspFullContener,
.conspFullContenerElement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.conspFullElementE {
    margin: 8px 0;
}

.logoContener {
    margin: auto;
    display: table;
    overflow: hidden;
    margin-top: 10px;
}

.logoContener img {
    width: 80px;
    float: left;
    padding: 10px;
}

.conspectBodyColE {
    max-height: 600px;
    overflow-y: scroll;
}

.imgElem {
    width: 100%;
}

#animCreator {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.89);
    overflow-y: scroll;
}

.animCreatorConainer {
    position: relative;
    margin: auto;
}

canvas,
#animCreator,
.animCreatorConainer,
.imgElem img,
.imgElem {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.imgElem img {
    width: 100%;
    height: auto;
}

.opsField {
    width: 50%;
    max-height: 200px;
    overflow-y: scroll;
}

.conspFullContenerElement {
    width: 100%
}

.conspFullElement {
    margin: 8px 0;
    width: 25%;
}

.collapsible {
    margin: 0 10px;
}

@media print {
    .conspectBodyColE {
        max-height: none;
        overflow-y: auto;
        page-break-after: auto;
    }
    .coElementFull {
        page-break-inside: avoid;
        page-break-after: auto;
    }
}

.playAnimContainer {
    width: 100%;
    line-height: 2;
    background: #c11502;
    border: 5px solid #a51100;
    cursor: pointer;
    transition: all .2s;
}

.playAnimContainer i {
    line-height: 1.7;
    color: white;
}

.playAnimContainer:hover {
    background: #f41e06;
}

@media screen and (max-width:890px) {
    .conspFullElement {
        width: 50%;
    }
    .elementTitle h5 {
        font-size: 1.2rem;
    }
    .collapsible {
        margin: 0 !important;
    }
}

@media screen and (max-width:540px) {
    .opsFieldE,
    .conspFullElement {
        width: 100%;
    }
    .elementTitle h5 {
        font-size: 1rem;
    }
}

.conspFullElement p {
    font-size: 1.1rem;
    color: #717171 !important;
}

.conspFullElement i {
    line-height: 50px;
}

.oneTagFull {
    width: auto;
    margin: 0;
    margin-top: 3px !important;
}

.configEditText {
    color: rgb(87, 181, 195);
    margin: 0;
}

.configColorPicker,
.configColorPickerForText {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    float: left;
    justify-content: center;
    padding-bottom: 10px;
}

.configColorPickerForText {
    width: 50%;
}

.textSizeChanger {
    float: left;
    width: 50%;
}

.configColorPicker input {
    height: 30px;
}

.configColorPicker p {
    width: 100%
}

.additionalIconInConf {
    margin: 0px !important;
    float: none !important;
}

.lastSelectedConfigContent {
    overflow: hidden;
}

.configColor,
.configColorText {
    float: left;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid;
    transition: all .2s;
}

.configColorText {
    width: 15px;
    height: 15px;
}

.configColor:hover {
    transform: scale(1.1);
}

.lastSelectedConfigContener .lastSelectedConfigContent p {
    color: #adadad;
}

.lastSelectedConfigContener span i {
    color: #686868 !important;
    cursor: pointer;
    transition: all .2s;
    float: right;
}

.lastSelectedConfigContener span i:hover {
    color: #fff !important;
}

.categories,
.categoryItems {
    margin: 5px;
    line-height: 3.7;
    color: #d9d9d9;
    margin-right: 0;
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .2s;
}

.itemsList {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categoryItems {
    margin: 5px;
    margin-right: 0;
}

.categories:hover,
.categoryItems:hover {
    border-color: #6d6d6d;
    transition: all .2s;
    color: #dd4213;
}

#itemBox,
#itemBoxFromCat {
    background: rgba(36, 46, 51, 0.58);
    box-shadow: inset 0px 1px 10px 1px rgba(39, 34, 34, 0.5);
    display: flex;
    min-height: 50px;
}

.itemBoxWithItem {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 50px;
    justify-content: center;
}

#itemBox {
    box-shadow: none;
    position: relative;
    background: #242e33;
}

#soccerFieldBox {
    width: 100%;
}

#soccerFieldBox tr {
    display: flex;
    margin: 20px;
}

.itemSettingsTrainingCreator {
    width: 100px;
    line-height: 1.8;
    float: left;
}

#canvasBck {
    background: rgb(25, 27, 29);
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#leftBlockItem {
    width: 250px;
    float: left;
    background: #2b363a;
    border: 1px solid rgba(255, 26, 0, 0.55);
    border-left: none;
    border-right: none;
}

.categories {
    position: relative;
}

.categoryItems img,
.soccerField img,
.categories img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timeline {
    height: 30px;
    float: left;
}

#timeline p {
    color: #9e9e9e;
    margin-top: 5px;
    font-size: .8rem;
    text-align: left;
    margin-bottom: 2px;
}

.timeElement,
#addFrame {
    width: 30px;
    line-height: 1.8;
    background: rgb(42, 42, 42);
    text-align: center;
    color: white;
    float: left;
    border: 1px solid rgb(42, 42, 42);
    cursor: pointer;
    transition: background-color .2s;
}

.timeElement:hover {
    background-color: rgb(81, 19, 1);
}

#addFrame {
    background-color: rgb(221, 66, 19);
    border: 1px solid rgb(221, 66, 19);
}

#addFrame:hover {
    background-color: rgb(253, 112, 72);
    transition: background-color .2s;
}

#canvasPlayer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    display: none;
}

#playerContent {
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    max-height: 100vh;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.konvajs-content {
    margin: auto;
}

#canvasPlayerContainer {
    background: rgba(0, 0, 0, 0.57);
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: calc( 100vh - 110px);
}

#playeControllerPanel {}

#animTimeBack {
    width: 100%;
    height: 3px;
    background: rgb(73, 0, 0);
}

#animTime {
    display: block;
    width: 60%;
    background: linear-gradient(to right, #980000 40%, #ff0000 100%);
    height: 5px;
}

#playerData {
    width: 100%;
    background: #252525;
    color: white;
    line-height: 4;
    overflow: hidden;
}

#playerData p {
    float: left;
    padding: 0 20px;
    margin: 0;
}

#exitPlayer {
    float: right;
    padding: 0 20px;
    line-height: 2;
}

#playerSteringTools {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: #252525;
    color: white;
    transition: color .2s;
}

.animCotrollerButton:hover,
#exitPlayer:hover {
    color: #ff0000;
    cursor: pointer;
    transition: color .2s;
}

#forwardAnim,
#backwardAnim {
    padding-top: 4px;
}

.disableSter {
    color: rgb(82, 82, 82);
    transition: color .2s;
}

.disableSter:hover {
    transition: color .2s;
    color: rgb(82, 82, 82);
}