<div ng-init="setPerm(['KOORD','TRENER','STAFF'])"></div>
<div class="section paymentSection" ng-init="initPaymentCyclic()">
    <div ng-show='showContent' class="row">
        <div class="col s12 l10 offset-l1">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Płatności cykliczne</div>
                    <div class="row">
                        <div class="row" style='padding: 10px'>
                            <h5>Ustaw płatności, które będą pojawiały się co określony czas na kontach zawodników</h5>
                            <p styl='font-size:14px; color: #808080'>Pamiętaj! Wszystkie płatności dla poszczególnych zawodników możesz przeglądać w zakładce<br/> Płatności > Proste płatności. Tam możesz ręcznie zakończyć płatność lub usunuąć ją całkowicie.</p>
                        </div>
                        <div class="form-group col s12">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input id='dataInput' type="text"  placeholder="ilość dni" class="validate">
                                    <label for="dataInput">Wyprzedzenie wystawienia od płatności</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id='cyclikPayTitle' type="text" placeholder="Tytuł płatności" class="validate">
                                    <label for="cyclikPayTitle">Tytuł płatności</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col s12">
                            <div class="row" >
                                <div class="input-field col s12 m4">
                                    <input id='payForDay' ng-disabled="payMonth.length >= 1 || payWeek.length >= 1" ng-model="payDay" type="number" placeholder="(0,23)" class="validate" min="0" max="23">
                                    <label for="payForDay">Raz dziennie o godzinie ? </label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id='payForWeek' ng-disabled="payDay.length >= 1 || payMonth.length >= 1 " ng-model="payWeek" type="number" placeholder="(0,6)" class="validate" min="0" max="6">
                                    <label for="payForWeek">Raz w tygodniu, w dniu ? </label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id='payForMonth' ng-disabled="payWeek.length >= 1 || payDay.length >= 1" ng-model="payMonth" type="number" placeholder="(1,31)" class="validate" min="1" max="31">
                                    <label for="payForMonth">Raz w miesiącu, w dniu ? </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col s12">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input id='payValue' type="text" placeholder="Kwota płatności ( 0.00zł )" class="validate" value="0.00">
                                    <label for="payValue">Kwota płatności format</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <button class="waves-effect waves-light btn" ng-click='addCyclePay()'>Dodaj płatność cykliczną</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style='padding: 10px'>
                            <h5>Lista płatności cyklicznych dla zespołu</h5>
                        </div>
                        <table class="table highlight centered">
                            <thead>
                                <tr>
                                    <th>Dni wyprzedzenia</th>
                                    <th>Okres czasowy</th>
                                    <th>Tytuł</th>
                                    <th>Kwota</th>
                                    <th>Usuń</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pay in allCyclPayments">
                                    <td><b>{{pay.howLongBefore}}</b></td>
                                    <td>{{pay.intervalTime}} -- {{pay.intervalName}}</td>
                                    <td>{{pay.title}}</td>
                                    <td><b>{{pay.amount}} zł</b></td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true" ng-click='deleteCyclePay(pay.id)' style="cursor:pointer;"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            M.updateTextFields();
            $('select').formSelect();
            $('ul.tabs').tabs();
            $('.collapsible').collapsible();
            $('.datetimepicker').datetimepicker({
                format: 'Y/m/d',
                lang: 'pl',
                timepicker: false,
            });



        }, 500);
    });
</script>
