<div ng-init="setPerm(['KOORD','TRENER','STAFF'])"></div>
<div class="section paymentSection" ng-init="initPayment()">
    <div ng-show='showContent' class="row">
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Wystawianie płatności</div>
                    <div class="row">
                        <div class="form-group">
                            <div class="row" style='margin-top: 10px; margin-bottom: 40px;'>
                                <div class="input-field col s12">
                                    <input id='payName' type="text" name="payName" placeholder="Nazwa płatności" class="validate">
                                    <label for="payAmount">Nazwa płatności:</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id='payAmount' type="text" name="amount" placeholder="Kwota w PLN (0,00zł)" class="validate">
                                    <label for="payAmount">Kwota płatności dla zaznaczonych zawodników:</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id='dateToPay' type="text" class='datetimepicker' ng-model="paymentDate" name="dateToPay" placeholder="Data rozliczenia" class="validate">
                                    <label for="dateToPay">Data rozliczenia płatności</label>
                                </div>
                                <button type="button" class="waves-effect waves-light btn" ng-click="sendPayment()">Wyślij płatność</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6 noPrint">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Ludzie i płatności</div>
                    <div class="row">
                        <div class="titleIn">Wybór osób do płatności</div>
                        <table class="table highlight centered">
                            <thead>
                                <tr>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>
                                        <div class="form-group">
                                            <input type="checkbox" id="selectAllUser" />
                                            <label for="selectAllUser">Wszyscy</label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="us in allUsers">
                                    <td style="padding: 5px 0;">{{us.firstname}}</td>
                                    <td style="padding: 5px 0;">{{us.lastname}}</td>
                                    <td style="padding: 5px 0;">
                                        <div class="form-group">
                                            <input type="checkbox" class='userSelectInput' id="userSelect-{{us.usid}}" />
                                            <label for="userSelect-{{us.usid}}">-</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            M.updateTextFields();
            $('select').formSelect();
            $('ul.tabs').tabs();
            $('.collapsible').collapsible();
        }, 500);

    });
</script>