<div ng-init="setPerm(['KOORD','TRENER','ZAWODNIK','STAFF'])"></div>
<div class="section">
    <div ng-show='showContent' class="row">
        <div class="col s12 ">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Plan zajęć
                    </div>
                    <div class="row">
                        <div class="timetable" ng-init='initTimetable()'>
                            <table class="table highlight centered">
                                <tr>
                                    <th>Poniedziałek</th>
                                    <td>
                                        <div class="timetableEvent" ng-repeat='event in events["Poniedziałek"]' style='background-color: {{event.color}}'>
                                            <p>{{event.title}}</p>
                                            <b>{{event.time}} - {{event.timeEnd}}</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Wtorek</th>
                                    <td>
                                        <div class="timetableEvent" ng-repeat='event in events["Wtorek"]' style='background-color: {{event.color}}'>
                                            <p>{{event.title}}</p>
                                            <b>{{event.time}} - {{event.timeEnd}}</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Środa</th>
                                    <td>
                                        <div class="timetableEvent" ng-repeat='event in events["Środa"]' style='background-color: {{event.color}}'>
                                            <p>{{event.title}}</p>
                                            <b>{{event.time}} - {{event.timeEnd}}</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Czwartek</th>
                                    <td>
                                        <div class="timetableEvent" ng-repeat='event in events["Czwartek"]' style='background-color: {{event.color}}'>
                                            <p>{{event.title}}</p>
                                            <b>{{event.time}} - {{event.timeEnd}}</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Piątek</th>
                                    <td>
                                        <div class="timetableEvent" ng-repeat='event in events["Piątek"]' style='background-color: {{event.color}}'>
                                            <p>{{event.title}}</p>
                                            <b>{{event.time}} - {{event.timeEnd}}</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Sobota</th>
                                    <td>
                                        <div class="timetableEvent" ng-repeat='event in events["Sobota"]' style='background-color: {{event.color}}'>
                                            <p>{{event.title}}</p>
                                            <b>{{event.time}} - {{event.timeEnd}}</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Niedziela</th>
                                    <td>
                                        <div class="timetableEvent" ng-repeat='event in events["Niedziela"]' style='background-color: {{event.color}}'>
                                            <p>{{event.title}}</p>
                                            <b>{{event.time}} - {{event.timeEnd}}</b>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<div ng-hide='showContent' style="position:relative; margin-top:15%; width: 60%; margin-left: auto; margin-right: auto;">
    <h3 style='text-align:center;'>Wczytywanie zawartości...</h3>
    <div class="preloader-wrapper big active" style="margin-left: 45%">
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            Materialize.updateTextFields();
            $('select').material_select();
            $('ul.tabs').tabs();
            $('.collapsible').collapsible();
        }, 500);
    });
</script>
