<div ng-init="setPerm(['KOORD','TRENER','ZAWODNIK','STAFF'])"></div>
<div class="section" ng-init="getAllEvents();">
    <div ng-show='showContent' class="row">
        <div class="col s12">
            <div class="row">
                <div class="timetable" ng-controller='timetableController' ng-init='initTimetable()'>
                    <div class='timetableElement' ng-show='events["Poniedziałek"].length >= 1 '>
                        <div class="timetableHead">
                            Poniedziałek
                        </div>
                        <div class="timetableEvent" ng-repeat='event in events["Poniedziałek"]' style='background-color: #0087ff'>
                            <p>{{event.title}}</p>
                            <b>{{event.time}}</b>
                        </div>
                    </div>
                    <div class='timetableElement' ng-show='events["Wtorek"].length >= 1 '>
                        <div class="timetableHead">
                            Wtorek
                        </div>
                        <div class="timetableEvent" ng-repeat='event in events["Wtorek"]' style='background-color: #0087ff'>
                            <p>{{event.title}}</p>
                            <b>{{event.time}}</b>
                        </div>
                    </div>
                    <div class='timetableElement' ng-show='events["Środa"].length >= 1 '>
                        <div class="timetableHead">
                            Środa
                        </div>
                        <div class="timetableEvent" ng-repeat='event in events["Środa"]' style='background-color: #0087ff'>
                            <p>{{event.title}}</p>
                            <b>{{event.time}}</b>
                        </div>
                    </div>
                    <div class='timetableElement' ng-show='events["Czwartek"].length >= 1 '>
                        <div class="timetableHead">
                            Czwartek
                        </div>
                        <div class="timetableEvent" ng-repeat='event in events["Czwartek"]' style='background-color: #0087ff'>
                            <p>{{event.title}}</p>
                            <b>{{event.time}}</b>
                        </div>
                    </div>
                    <div class='timetableElement' ng-show='events["Piątek"].length >= 1 '>
                        <div class="timetableHead">
                            Piątek
                        </div>
                        <div class="timetableEvent" ng-repeat='event in events["Piątek"]' style='background-color: #0087ff'>
                            <p>{{event.title}}</p>
                            <b>{{event.time}}</b>
                        </div>
                    </div>
                    <div class='timetableElement' ng-show='events["Sobota"].length >= 1 '>
                        <div class="timetableHead">
                            Sobota
                        </div>
                        <div class="timetableEvent" ng-repeat='event in events["Sobota"]' style='background-color: #0087ff'>
                            <p>{{event.title}}</p>
                            <b>{{event.time}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        WYDARZENIA
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="col s12">
                                <div class="today-date"></div>
                            </div>
                        </div>
                        <div class="col s12" ng-show='nowEvents.length > 0'>
                            <div class="col s12">
                                <div class="titleIn">Aktualne</div>
                                <ul class="collection">
                                    <li class="collection-item" ng-repeat="now in nowEvents">{{now.title}}</br>Do zakończenia: <b class='prettydate'>{{now.end}}</b></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s12" ng-show='nextEvents.length > 0'>
                            <div class="col s12">
                                <div class="titleIn events-text-color">Najbliższe</div>
                                <ul class="collection">
                                    <li class="collection-item events-text-color" ng-repeat="next in nextEvents | limitTo: 3 ">{{next.title}}</br>Rozpocznie się: <b class='prettydate'>{{next.end}}</b></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a href="#!/calendar">Przejdź do kalendarza></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="row" ng-show="user.tmid != '' && user.role != 'ZAWODNIK'">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            PODSUMOWANIE PŁATNOŚCI
                        </div>
                        <div class="row">
                            <div class="col s12" ng-controller='paymentController'>
                                <div class="row" ng-init='getPaymentSummary()'>
                                    <h5>Podsumowanie płatności w tym miesiącu</h5>
                                    <div class="paymentPrice">Wystawione <b>{{paymentSummary.all}}</b> zł w tym: </div>
                                    <div class="paymentPrice">Zakończone: <b>{{paymentSummary.completed}}</b> zł</div>
                                    <div class="paymentPrice">Oczekujące: <b>{{paymentSummary.waiting}}</b> zł</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <a href="#!/payment">Przejdź do płatności ></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            OSTATNIA AKTYWNOŚĆ
                        </div>
                        <div class="row">
                            <div class="col s12" ng-show='isLoadedPost'>
                                <p class="col s12 centered" style="padding-top:15px;">
                                    <img src="{{lastPost[0].user_img_path}}" class="circle" width="60" height="60">
                                </p>
                                <div class="titleIn"><b>{{lastPost[0].firstname}} {{lastPost[0].lastname}}</b></div>
                                <div style='font-size: 14px; padding-left: 20px; padding-right: 20px'>
                                    {{lastPost[0].content}}
                                </div>
                                <div style='font-size: 10px; padding-top: 10px;'><b class='prettydate'>{{lastPost[0].date_add}}</b></div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <a href="#!/tab">Przejdź do tablicy ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content" ng-controller="todoController" ng-init='initToDo();'>
                    <div class="card-title">
                        MOJE ZADANIA
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col s12">
                                <div class="titleIn">Dodaj nowe</div>
                                <div class="row">
                                    <div class="todoColorPicker">
                                        <div class="todoColorPink" ng-click="selectColor('#de5c8a');"></div>
                                        <div class="todoColorPurple" ng-click="selectColor('#8754a3');"></div>
                                        <div class="todoColorRoyal" ng-click="selectColor('#5579b7');"></div>
                                        <div class="todoColorTurquoise" ng-click="selectColor('#17ae9f');"></div>
                                    </div>
                                </div>
                                <div class="col s12" id='todoAdd'>
                                    <input type='text' id='todoText' placeholder="Wpisz tekst przypomnienia"></input>
                                    <button ng-click="addTodo()" id='todoButton'><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="titleIn">Aktualne</div>
                                <ul class="collection todoTable">
                                    <li class="collection-item" ng-repeat="tod in todoList |orderBy: '-date_add' | limitTo: 10">
                                        <div class='todoColorMain ' style='background:{{tod.color}};'></div>
                                        {{tod.title}}
                                        <button ng-click="endTodo(tod.id)">
                                            <i class="fa fa-check fa-4x" aria-hidden="true"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' style="position:relative; margin-top:15%; width: 60%; margin-left: auto; margin-right: auto;">
        <h3 style='text-align:center;'>Wczytywanie zawartości...</h3>
        <div class="preloader-wrapper big active" style="margin-left: 45%">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>