<div ng-init="setPerm(['KOORD','TRENER','ZAWODNIK','STAFF'])"></div>
<a ng-click="getTutorial('moje_zadania')" class="btn-floating btn-large waves-effect waves-light tutorialOnButton"  ng-show="user && user.role != 'ZAWODNIK'">
    <i class="fa fa-question"></i>
</a>
<div class="section" ng-init="getAllEvents();">
    <div ng-show='showContent'>
        <div class="fElementRowConainer" ng-show="user.tmid != '' && user.role != 'ZAWODNIK'">
            <div class="f33" ng-show="user.tmid != '' && user.role != 'ZAWODNIK'">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            PODSUMOWANIE PŁATNOŚCI
                        </div>
                        <div class="row">
                            <div class="col s12" ng-controller='paymentController'>
                                <div class="row" ng-init='getPaymentSummary()'>
                                    <p class="paymentPrice">Wystawione <b>{{paymentSummary.all}}</b> zł w tym: </p>
                                    <p class="paymentPrice">Zakończone: <b>{{paymentSummary.completed}}</b> zł</p>
                                    <p class="paymentPrice">Oczekujące: <b>{{paymentSummary.waiting}}</b> zł</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <a href="#!/clientPaymentHistory">Przejdź do płatności ></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f33" ng-show="user.tmid != '' && user.role != 'ZAWODNIK'">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            INFORAMCJE O LICENCJI
                        </div>
                        <div class="row">
                            <div class="col s12 m10 offset-m1">
                                <p>Data wygaśnięcia: <span style='font-weight: bold'> {{getLicenseEndDate()}} </span></p>
                                <p>Pozostało: <span style='font-weight: bold' class='licenseEndDay'> {{dayToLicenseEnd()}} </span> dni</p>
                                <p>Wersja licencji: <span style='font-weight: bold'> {{mainSettings.licenseType}} </span></p>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <a href="https://centrumklubu.pl/oferta/">Przejdź do oferty Centrum Klubu ></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f33-1" ng-show="user.tmid != '' && user.role != 'ZAWODNIK'">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            OGRANICZENIA LICENCJI
                        </div>
                        <div class="row" ng-init='getLicenseDate()'>
                            <div class="col s12 m10 offset-m1">
                                <p>Ilość drużyn: <span style='font-weight: bold'> {{licenseDate.teamCount}} / {{mainSettings.maxTeams}} </span></p>
                                <p>Konta trenerów: <span style='font-weight: bold'> {{licenseDate.mastersCount}} / {{mainSettings.maxMasters}} </span></p>
                                <p>Zawodników w sekcji: <span style='font-weight: bold'> {{licenseDate.playerCount}} / {{mainSettings.maxPlayers}} </span></p>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <a href="https://centrumklubu.pl">Przejdź do strony Centrum Klubu ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fElementRowConainer">
            <div style='width: 100%' ng-show="!user.tmid || user.tmid == ''">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            Nabór do sekcji
                        </div>
                        <h5>Witaj</h5>
                        <h6 style='width:100%'>Twoje konto jest już gotowe do pracy.</h6>
                        <div style=' padding : 0 50px;'>
                            <p>Twoimi pierwszymi krokami powinno być przejście do zakładki <b>Mój profil -> Moje dane</b> z menu po lewej w celu uzupełnienia danych. <br/> Możesz oczywiście zrobić to później jednak bez uzupełnionego profilu nie będziesz
                                mógł zapisać się do wybranej sekcji.</p>
                            <br/>
                            <div class="row">
                                <a href="#!/myProfile">Przejdź do edycji profilu > </a>
                            </div>
                            <br/>
                            <p>Kolejnym krokiem powinno być przejście do zakładki <b>Nabór do sekcji</b> w celu przeglądu sodtępnych dla Ciebie sekcji.</p>
                            <p>W imieniu całego teamu <b>Club Management Center</b> chcieliśmy podziękować za używanie naszej aplikacji.</p>
                            <br/>
                        </div>
                        <div class="row">
                            <a href="#!/sectionGetForPlayer">Przejdź do zakładki 'nabór do sekcji' > </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f33" >
                <div class="card">
                    <div class="card-content" style='height: 350px; overflow-y:scroll;'>
                        <div class="card-title">
                            WYDARZENIA
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="col s12">
                                    <div class="today-date"></div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="col s12">
                                    <div class="titleIn">Aktualne</div>
                                    <div class="row" ng-hide='nowEvents.length > 0'>
                                        <p>Brak aktualnie trwających wydarzeń</p>
                                    </div>
                                    <ul class="collection eventTableDashboard" ng-show='nowEvents.length > 0'>
                                        <li class="collection-item" ng-repeat="now in nowEvents" style="border-color:{{now.color}}; border-bottom:1px solid;">{{now.title}}</br>-Zakończenie: <b class='prettydate'>{{now.end}}</b></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="col s12">
                                    <div class="titleIn events-text-color">Najbliższe</div>
                                    <div class="row" ng-hide='nextEvents.length > 0'>
                                        <p style='padding-bottom: 20px'>Brak zbliżających się wydarzeń</p>
                                    </div>
                                    <ul class="collection eventTableDashboard" ng-show='nextEvents.length > 0'>
                                        <li class="collection-item events-text-color" ng-repeat="next in nextEvents | limitTo: 3 " style="border-color:{{now.color}}; border-bottom:1px solid;">{{next.title}}</br>Rozpocznie się: <b class='prettydate'>{{next.end}}</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <a href="#!/calendar">Przejdź do kalendarza ></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f67" ng-show="user.tmid && user.tmid != ''" style='display:flex; flex-wrap: wrap'>
                <div style='width: 100%'>
                    <div class="card">
                        <div class="card-content" style='height: 350px; overflow-y:scroll;'>
                            <div class="card-title">
                                OSTATNIA AKTYWNOŚĆ
                            </div>
                            <div class="valign-wrapper center-align">
                                <div class="row" style="width:100%">
                                    <div class="col s12" ng-show='isLoadedPost'>
                                        <p class="centered" style="padding-top:15px;">
                                            <img src="{{lastPost[0].user_img_path}}" class="circle" width="60" height="60">
                                        </p>
                                        <div style='font-size: 10px; padding-top: 10px; margin: auto'><b class='prettydate'>{{lastPost[0].date_add}}</b></div>
                                        <div class="titleIn"><b>{{lastPost[0].firstname}} {{lastPost[0].lastname}}</b></div>
                                    </div>
                                    <div class="col s12" style='padding: 25px;' ng-show='isLoadedPost' ng-bind-html="lastPost[0].content">
                                    </div>
                                    <div class="col s12" ng-show="!isLoadedPost || !lastPost[0]">
                                        <p style='color: #9e9e9e;font-size: 16px;padding: 90px 50px;'>Nikt nie dodał jeszcze postu. Przejdź do tablicy i bądź pierwszy !</p>
                                    </div>
                                    <div class="col s12 " style="padding-top: 15px;">
                                        <a href="#!/tab">Przejdź do tablicy ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="f50" ng-show="user.tmid && user.tmid != ''">
                <div class="card">
                    <div class="card-content" ng-controller="todoController" ng-init='initToDo();' style='min-height: 180px'>
                        <div class="card-title">
                            MOJE ZADANIA
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="todoColorPicker">
                                            <div class="todoColorPink" ng-click="selectColor('#de5c8a');"></div>
                                            <div class="todoColorPurple" ng-click="selectColor('#8754a3');"></div>
                                            <div class="todoColorRoyal" ng-click="selectColor('#5579b7');"></div>
                                            <div class="todoColorTurquoise" ng-click="selectColor('#17ae9f');"></div>
                                        </div>
                                    </div>
                                    <form class="col s12" id='todoAdd'>
                                        <input type='text' id='todoText' placeholder="Wpisz tekst przypomnienia" onsubmit="addTodo()"></input>
                                        <button ng-click="addTodo()" id='todoButton'><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                                <div class="row" ng-show="todoList.length <= 0 ">
                                    <p style='color: #9e9e9e;font-size: 16px; padding: 0 20px;'>Masz coś ważnego do zrobienia? Zapisz to tutaj, aby nie zapomnieć.</p>
                                </div>
                                <div class="col s12">
                                    <ul class="collection todoTable">
                                        <li class="collection-item" ng-repeat="tod in todoList |orderBy: '-date_add' | limitTo: 10">
                                            <div class='todoColorMain ' style='background:{{tod.color}};'></div>
                                            {{tod.title}}
                                            <button ng-click="endTodo(tod.id)">
                                                <i class="fa fa-check fa-4x" aria-hidden="true"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f50" ng-show="user.tmid && user.tmid != ''">
                <div class="card">
                    <div class="card-content" style='min-height: 180px'>
                        <div class="card-title">
                            JUTRZEJSZE ZAJĘCIA
                        </div>
                        <div class="timetable" style='padding:0' ng-controller='timetableController' ng-init='initTimetable()'>
                            <div class='timetableElement fullWidth' ng-show="todayInt == 0">
                                <div class="row" ng-show='events["Poniedziałek"].length <= 0'>
                                    <p style='color: #9e9e9e;font-size: 16px;margin-top: 35px;'>Dzisiaj wolne !</p>
                                </div>
                                <div class="timetableEvent" ng-repeat='event in events["Poniedziałek"]' style='background-color: {{event.color}}'>
                                    <p>{{event.title}}</p>
                                    <b>{{event.time}} - {{event.timeEnd}}</b>
                                </div>
                            </div>
                            <div class='timetableElement fullWidth' ng-show="todayInt == 1">
                                <div class="row" ng-show='events["Wtorek"].length <= 0'>
                                    <p style='color: #9e9e9e;font-size: 16px;margin-top: 35px;'>Dzisiaj wolne !</p>
                                </div>
                                <div class="timetableEvent" ng-repeat='event in events["Wtorek"]' style='background-color: {{event.color}}'>
                                    <p>{{event.title}}</p>
                                    <b>{{event.time}} - {{event.timeEnd}}</b>
                                </div>
                            </div>
                            <div class='timetableElement fullWidth' ng-show="todayInt == 2">
                                <div class="row" ng-show='events["Środa"].length <= 0'>
                                    <p style='color: #9e9e9e;font-size: 16px;margin-top: 35px;'>Dzisiaj wolne !</p>
                                </div>
                                <div class="timetableEvent" ng-repeat='event in events["Środa"]' style='background-color: {{event.color}}'>
                                    <p>{{event.title}}</p>
                                    <b>{{event.time}} - {{event.timeEnd}}</b>
                                </div>
                            </div>
                            <div class='timetableElement fullWidth' ng-show="todayInt == 3">
                                <div class="row" ng-show='events["Czwartek"].length <= 0'>
                                    <p style='color: #9e9e9e;font-size: 16px;margin-top: 35px;'>Dzisiaj wolne !</p>
                                </div>
                                <div class="timetableEvent" ng-repeat='event in events["Czwartek"]' style='background-color: {{event.color}}'>
                                    <p>{{event.title}}</p>
                                    <b>{{event.time}} - {{event.timeEnd}}</b>
                                </div>
                            </div>
                            <div class='timetableElement fullWidth' ng-show="todayInt == 4">
                                <div class="row" ng-show='events["Piątek"].length <= 0'>
                                    <p style='color: #9e9e9e;font-size: 16px;margin-top: 35px;'>Dzisiaj wolne !</p>
                                </div>
                                <div class="timetableEvent" ng-repeat='event in events["Piątek"]' style='background-color: {{event.color}}'>
                                    <p>{{event.title}}</p>
                                    <b>{{event.time}} - {{event.timeEnd}}</b>
                                </div>
                            </div>
                            <div class='timetableElement fullWidth' ng-show="todayInt == 5">
                                <div class="row" ng-show='events["Sobota"].length <= 0'>
                                    <p style='color: #9e9e9e;font-size: 16px;margin-top: 35px;'>Dzisiaj wolne !</p>
                                </div>
                                <div class="timetableEvent" ng-repeat='event in events["Sobota"]' style='background-color: {{event.color}}'>
                                    <p>{{event.title}}</p>
                                    <b>{{event.time}} - {{event.timeEnd}}</b>
                                </div>
                            </div>
                            <div class='timetableElement fullWidth' ng-show="todayInt == 6">
                                <div class="row" ng-show='events["Niedziela"].length <= 0'>
                                    <p style='color: #9e9e9e;font-size: 16px;margin-top: 35px;'>Dzisiaj wolne !</p>
                                </div>
                                <div class="timetableEvent" ng-repeat='event in events["Niedziela"]' style='background-color: {{event.color}}'>
                                    <p>{{event.title}}</p>
                                    <b>{{event.time}} - {{event.timeEnd}}</b>
                                </div>
                            </div>

                        </div>
                        <div class="row bottomLink">
                            <a href="#!/timetable">Przejdź do planu zajęć > </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>