/* --- MAIN --- */
body {
  background: rgb(13, 25, 39);
  color: #fff;
}

a {
  color: #499da9;
}

a:hover {
  color: #67dff0;
}

#loadingContent {
  background: #06101c;
}

.btn {
  background-color: #499da9;
}

.btn:hover {
  background-color: #67dff0;
}

.btn:focus {
  background-color: #499da9;
}

table.highlight>tbody>tr:hover {
  background-color: #67dff0;
}

.collapsible-body {
  background-color: #13202f;
}

.collapsible-header {
  background-color: #06101c;
}

.c3-chart-arcs .c3-chart-arcs-background {
  fill: rgba(103, 223, 240, 0.14);
}

.c3-chart-arc .c3-gauge-value {
    fill: #777;
}

.c3 text {
  fill: #fff;
}

text tspan {
  fill: #fff;
}

.secondary-content {
  color: #26a69a;
}


/* --- SIDEBAR --- */
#sidebar {
  background: #06101c;
}

ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
  background: rgb(19, 32, 47);
  border-left: solid 1px rgb(103, 223, 240);
}

ul.sidebar-menu li ul.sub li {
  background: #13202f;
}

.sidebar-menu .select-dropdown {
  border-bottom-color: #67dff0 !important;
}

.dropdown-content li:hover {
  background-color: #67dff0;
}

.dropdown-content {
  background-color: #13202f;
}

.dropdown-content li.active {
    background-color: #06101c;
}

.dropdown-content li.selected {
    background-color: #06101c;
}

.dropdown-content li>span {
    color: #fff;
}

.input-field label {
    color: #9e9e9e;
}



/* --- TOPBAR --- */
.topbar {
  background: #06101c;
}

nav ul a:hover {
  color: #03a9f4;
}

.fa-color {
  color: #fff;
}

.fa-color:hover {
  color: #67dff0;
}

.notifyContenerTitle {
  background: #13202f;
}

.notif a {
  background: #0d1927 !important;
}

.notfi a:hover {
  background: #0a1522 !important;
}



/* --- HOME PANEL --- */
.card {
  background-color: rgba(6, 16, 28, 0.40);
}

.card-title {
  background: #06101c;
  color: #fff;
}

.events-text-color {
  color: #9e9e9e;
}

#todoText {
  background: #0a1522;
}

#todoButton {
  background: #0a1522;
  color: #9e9e9e;
}

#todoButton .fa-plus:hover {
  color: #fff;
}



/* --- MY PROFILE PANEL --- */
.validate {
  color: #fff;
}

input[type=text]:not(.browser-default):disabled {
  color: rgba(255, 255, 255, 0.26);
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}



/* --- MY REPORTS --- */
.reports-bg {
  background: #0a1522;
}



/* --- FREQUENCY PANEL --- */
.freqTable tbody tr {
  background-color: rgb(10, 21, 34);
  transition: background-color .2s;
}

.freqTable tbody tr:hover {
  background-color: rgb(19, 32, 47);
  transition: background-color .2s;
}

input[type=checkbox]:checked+.lever:after {
  background-color: #67dff0 !important;
}

input[type=checkbox]:checked+.lever {
  background-color: rgb(73, 157, 169) !important;
}



/* --- CALENDAR --- */
#calendar {
  color: #fff;
}

.calendar-month-header {
  background: #43b1a9;
}

.drop-after {
  border-top: 1px solid #ccc;
}

.fc-state-default,
.fc-state-default .fc-button-inner {
  background: transparent;
}

.fc-button-inner:hover {
  background: #1a2b40;
}

.fc-state-active .fc-button-inner {
  background: #fff;
}

.fc-state-active,
.fc-state-active .fc-button-inner {
  background: #1a2b40;
  color: #d1d1d1;
}

.fc-widget-header {
    color: #d1d1d1;
    border: 1px solid #1a2b40;
    background: #1a2b40;
}

.fc-state-highlight {
    background: #1a2b40;
}

.fc-widget-content {
    color: #d1d1d1;
    border: 1px solid #1a2b40;
}

.fc-event-skin {
    border-color: #499da9;
    background-color: #499da9;
}

.fc-event-skin {
  color: #fff;
}

.fc-event-time {
  letter-spacing: 2px;
}

.fc-grid .fc-event-time {
  font-weight: normal !important;
}



/* --- SHOW PLAYERS PANEL --- */
[type="checkbox"]:checked+label:before {
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
}



/* --- PAYMENTS IN DASHBOARD --- */
.paymentPrice {
    color: #9e9e9e;
}



/* --- PAYMENTS IN DASHBOARD --- */
.paymentPrice {
    color: rgb(16, 29, 37);
}
