<div ng-init="setPerm(['KOORD','TRENER', 'ZAWODNIK','STAFF'])"></div>

<div class="section">
    <div ng-show='showContent' class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Ławka rezerwowych
                    </div>
                    <div class="row">
                        <table class="table highlight centered" ng-init="getTeam()">
                            <thead>
                                <tr>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Numer na koszulce</th>
                                    <th ng-show="user.role != 'ZAWODNIK' ">Pozycja</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="us in positions[0].users" class='row'>
                                    <td>{{us.firstname}}</td>
                                    <td>{{us.lastname}}</td>
                                    <td style=" padding: 0px">
                                        <div class="input-field col" style="text-align: center; padding: 0 5px; margin: 0">
                                            <input style="text-align: center; margin: 0" ng-show="user.role != 'ZAWODNIK' " id='changeNumber' class='changeNumber' id='changeNumber-{{us.tmmid}}-0' type="text" value="{{us.nr_on_tshirt}}" required>
                                        </div>
                                        <p ng-show="user.role == 'ZAWODNIK'  ">{{us.nr_on_tshirt}}</p>
                                    </td>
                                    <td style=" padding: 0px" ng-show="user.role != 'ZAWODNIK' ">
                                        <div class="input-field col " style="text-align: center; padding: 0 5px; margin: 0">
                                            <select id="selectPosition-{{us.tmmid}}-0" class='selectPosition' style="text-align: center; margin: 0">
                                                <option style="text-align: center;" ng-repeat="pos in positions" value="{{pos.id}}" ng-selected="{{pos.id == us.id_position}}">{{pos.name}}</option>
                                                <label>Materialize Select</label>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Aktualny skład
                    </div>
                    <div class="row">
                        <table class="table highlight centered">
                            <thead>
                                <tr>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Numer na koszulce</th>
                                    <th ng-show="user.role != 'ZAWODNIK' ">Pozycja</th>
                                </tr>
                            </thead>
                        </table>
                        <div ng-repeat="posit in positions | limitTo:50:1">
                            <div class='titleIn'> {{posit.name}}</div>
                            <table class="table highlight centered">
                                <tbody>
                                    <tr ng-repeat="us in posit.users" class='row'>
                                        <td>{{us.firstname}}</td>
                                        <td>{{us.lastname}}</td>
                                        <td style=" padding: 0px">
                                            <div class="input-field col" style="text-align: center; padding: 0 5px; margin: 0">
                                                <input style="text-align: center; margin: 0" ng-show="user.role != 'ZAWODNIK' " id='changeNumber' class='changeNumber' id='changeNumber-{{us.tmmid}}-0' type="text" value="{{us.nr_on_tshirt}}" required>
                                            </div>
                                            <p ng-show="user.role == 'ZAWODNIK'  ">{{us.nr_on_tshirt}}</p>
                                        </td>
                                        <td style=" padding: 0px" ng-show="user.role != 'ZAWODNIK' ">
                                            <div class="input-field col " style="text-align: center; padding: 0 5px; margin: 0">
                                                <select id="selectPosition-{{us.tmmid}}-{{posit.id}}" class='selectPosition' style="text-align: center; margin: 0">
                                                    <option style="text-align: center;" ng-repeat="pos in positions" value="{{pos.id}}" ng-selected="{{pos.id == us.id_position}}">{{pos.name}}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' style="position:relative; margin-top:15%; width: 60%; margin-left: auto; margin-right: auto;">
        <h3 style='text-align:center;'>Wczytywanie zawartości...</h3>
        <div class="preloader-wrapper big active" style="margin-left: 45%">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>