<div ng-init="setPerm(['KOORD','TRENER', 'ZAWODNIK'])"></div>

<div class="row mt" ng-controller="tabController">
    <div ng-show='showContent' class="col-xs-12">
        <div class="col-md-6">
            <div class="white-panel pn pn-height" style="height: auto; margin-bottom:20px;">
                <div class="white-header">
                    <h5>Ławka rezerwowych</h5>
                </div>
                <div class="row" style="padding: 20px;" ondrop="drop(event)">
                    <table class="table table-hover" ng-init="getTeam()">
                        <thead>
                            <tr>
                                <th style="text-align:center;">Imię</th>
                                <th style="text-align:center;">Nazwisko</th>
                                <th style="text-align:center;">Numer na koszulce</th>
                                <th style="text-align:center;">Pozycja</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr draggable="true" ondragstart="startDrag(event)" ng-repeat="us in positions[0].users">
                                <td>{{us.firstname}}</td>
                                <td>{{us.lastname}}</td>
                                <td>
                                    <input ng-show="user.role == 'KOORD' || user.role == 'TRENER' " class='changeNumber' id='changeNumber-{{us.tmmid}}-0' style="width: 50px;  text-align:center;" type="text" value="{{us.nr_on_tshirt}}">
                                    <p ng-show="user.role == 'ZAWODNIK'  ">{{us.nr_on_tshirt}}</p>
                                </td>
                                <td>
                                    <select class='selectPosition' id="selectPosition-{{us.tmmid}}-0">
                                        <option ng-repeat="pos in positions" value="{{pos.id}}" ng-selected="{{pos.id == us.id_position}}">{{pos.name}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="white-panel pn pn-height" style="height: auto; margin-bottom:20px;">
                <div class="white-header">
                    <h5>Aktualny skład</h5>
                </div>
                <div class="row" style="padding: 20px; padding-top: 0px">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center;">Imię</th>
                                <th style="text-align:center;">Nazwisko</th>
                                <th style="text-align:center;">Numer na koszulce</th>
                                <th style="text-align:center;">Pozycja</th>
                            </tr>
                        </thead>
                    </table>
                    <div ondrop="drop(event)" ng-repeat="posit in positions | limitTo:50:1">
                        <h3>{{posit.name}}</h3>
                        <table class="table table-hover">
                            <tbody>
                                <tr draggable="true" ondragstart="startDrag(event)" ng-repeat="us in posit.users">
                                    <td>{{us.firstname}}</td>
                                    <td>{{us.lastname}}</td>
                                    <td>
                                        <input ng-show="user.role == 'KOORD' || user.role == 'TRENER' " ng-model="us.nr_on_tshirt" class='changeNumber' id='changeNumber-{{us.tmmid}}-{{posit.id}}' style="width: 50px; text-align:center;" type="text" value="{{us.nr_on_tshirt}}">
                                        <p ng-show="user.role == 'ZAWODNIK'  ">{{us.nr_on_tshirt}}</p>
                                    </td>
                                    <td>
                                        <select class='selectPosition' id="selectPosition-{{us.tmmid}}-{{posit.id}}">
                                        <option ng-repeat="pos in positions" value="{{pos.id}}" ng-selected="{{pos.id == us.id_position}}">{{pos.name}}</option>
                                    </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class="" style="position:relative; margin-top:25%; width: 60%; margin-left: auto; margin-right: auto;">
        <h2 style='text-align:center;'>Wczytywanie zawartości...</h2>
        <div class="progress">
            <div id='prBar' class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>
    </div>
</div>

<script>
    function drop(ev) {
        console.log("drop");
    }

    function startDrag(ev) {
        console.log("start");
    }
</script>