<div ng-init="setPerm(['KOORD','TRENER', 'ZAWODNIK'])"></div>
<div class="row badPermCenter">
    <div class="col-lg-6 col-lg-offset-3 col-sm-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <center><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Brak uprawnień </center>
                </h3>
            </div>
            <div class="panel-body">
                <center>
                    <h4><strong>Niestety nie masz uprawnień do przegladania tej strony.</strong></h4>
                </center>
                <center>
                    <p>Przeloguj się na konto z odpowiednimi uprawnieniami, aby mieć dostęp do tej zawartości.</p>
                </center>
                <center><button type="button" class="btn btn-danger col-sm-offset-3 col-sm-6" ng-click="logout()">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    Wyloguj się
                </button></center>
            </div>
        </div>
    </div>
</div>