<div ng-init="setPerm(['KOORD','TRENER','ZAWODNIK'])"></div>

<div class="row mt">
    <div ng-show='showContent' ng-init='initAllEv();' class="row">
        <div class='col-md-4' ng-hide="user.role == 'ZAWODNIK'">
            <div class="white-panel pn pn-height" style="height: auto; margin-bottom:20px;">
                <div class="row">
                    <div>
                        <h4>Dodaj nowe wydarzenie</h4>
                        <form name="eventForm" class="form-horizontal style-form" id="addEventForm">
                            <div class="form-group">
                                <label class="col-md-offset-1 col-md-4 col-xs-6 control-label ">Tytuł</label>
                                <div class="col-xs-6 col-md-6 ">
                                    <input type="text" id='addTitleNews' class="form-control round-form " name="title" placeholder="Tytuł" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-offset-1 col-md-4 col-xs-6 control-label ">Początek</label>
                                <div class="col-xs-6 col-md-6 ">
                                    <input type="text" id='addStartNews' class="datetimepicker form-control round-form " name="start" placeholder="Początek" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-offset-1 col-md-4 col-xs-6 control-label ">Koniec</label>
                                <div class="col-xs-6 col-md-6 ">
                                    <input type="text" id='addEndNews' class="datetimepicker form-control round-form " name="end" placeholder="Koniec" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button " class="btn btn-round btn-success col-md-offset-4 col-md-4 col-xs-6 col-xs-offset-3 " ng-click="addEvent();">Dodaj</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <p>Wybierz wydarzenie w kalendarzu, aby je edytować lub usunąć </p>
                        <div class='editEvent' style='display: none;'>
                            <h4>Edycja wydarzenia</h4>
                            <form class="form-horizontal style-form" id="userUpdateDataForm">
                                <input type="hidden" value='{{actualEdit.id}}'>
                                <div class="form-group">
                                    <label class="col-md-offset-1 col-md-4 col-xs-6 control-label ">Tytuł</label>
                                    <div class="col-xs-6 col-md-6 ">
                                        <input id='editTitle' type="text" class="form-control round-form " name="title" placeholder="Tytuł" value='{{actualEdit.title}}'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button " class="btn btn-round btn-success col-md-offset-4 col-md-4 col-xs-6 col-xs-offset-3 " ng-click="editEvent();">Zapisz</button>
                                </div>
                                <div class="form-group">
                                    <button type="button " class="btn btn-round btn-warning col-md-offset-4 col-md-4 col-xs-6 col-xs-offset-3 " ng-click="deleteEvent();">Usuń</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-8' ng-class=" user.role == 'ZAWODNIK' ? 'col-md-offset-2' : 'col-md-offset-0' ">
            <div class="white-panel">
                <div class="row">
                    <aside class="col-xs-12 " style='margin-top: 40px;'>
                        <section class="panel">
                            <div class="panel-body row">
                                <div class="col-sm-12">
                                    <div id="calendar" class="has-toolbar"></div>
                                </div>
                            </div>
                        </section>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class="" style="position:relative; margin-top:25%; width: 60%; margin-left: auto; margin-right: auto;">
        <h2 style='text-align:center;'>Wczytywanie zawartości...</h2>
        <div class="progress">
            <div id='prBar' class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                <span class="sr-only">Complete</span>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="text-center">
        Wirtualne Centrum Piłkarskie
    </div>
</footer>

<script>
    $(document).ready(
        function() {
            $('.datetimepicker').datetimepicker({
                format: 'Y-m-d H:i',
                lang: 'pl'
            });
        }
    )
</script>