<div ng-init="setPerm(['KOORD','TRENER','STAFF'])"></div>
<div class="section">
    <div ng-show='showContent' class="row" ng-init="initScores();">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        TESTY
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id='catSelect'>
                                        <option value="" disabled selected>Kategoria testu</option>
                                    </select>
                                    <label>Kategoria testu</label>
                                </div>
                                <div class="input-field col s12" ng-show="isSelectedCategory">
                                    <select id='testSelect'>
                                        <option value="" disabled selected>Test</option>
                                    </select>
                                    <label>Test</label>
                                </div>
                                <div class="input-field col s12" ng-show="isSelectedTest">
                                    <select id='userSelect'>
                                        <option value="" disabled selected>Zawodnik</option>
                                    </select>
                                    <label>Zawodnik</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        WYNIKI
                    </div>
                    <div class="row" ng-show="isSelectedTest && isSelectedUser && isSelectedCategory">
                        <div class="form-group ">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id='scoreInput' type="text" name="newScore" placeholder="Wynik" class="validate">
                                    <label for="scoreInput">Wynik</label>
                                </div>
                                <div class="input-field col col s6">
                                    <button type="button " class="waves-effect waves-light btn" ng-click="addScore()">Dodaj</button>
                                </div>
                            </div>
                            <div class="row">
                                <table class='highlight centered'>
                                    <thead>
                                        <tr>
                                            <th style="padding: 2px 2px">Data</th>
                                            <th style="padding: 2px 2px">Wynik</th>
                                            <th style="padding: 2px 2px">Usuń</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="score in scores">
                                            <td style="padding: 2px 2px">{{score.data}}</td>
                                            <td style="padding: 2px 2px">{{score.wynik}}</td>
                                            <td ng-click="deleteScore(score.id)" style='padding: 2px 0; color:red; cursor:pointer;  text-align:center;'>
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' style="position:relative; margin-top:15%; width: 60%; margin-left: auto; margin-right: auto;">
        <h3 style='text-align:center;'>Wczytywanie zawartości...</h3>
        <div class="preloader-wrapper big active" style="margin-left: 45%">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            Materialize.updateTextFields();
            $('select').material_select();
        }, 500);
    });
</script>