<div ng-init="setPerm(['KOORD','TRENER', 'ZAWODNIK','STAFF'])"></div>

<div class="section">
    <div ng-show='showContent' class="row" ng-init="getStaffMembers()">
        <div class="col s12 col m6 col l4" ng-show="user.role == 'TRENER' || user.role == 'KOORD' ">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Dodaj personel
                    </div>
                    <div class="row" style="padding: 20px; ">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="typeStaff" placeholder="Nazwa personelu np. Trener" required>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="" id="addStaffMembersSelect">
                            </select>
                            </div>
                        </form>
                        <button style="margin-top: 20px; " class="btn btn-success" ng-click="addStaff()">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 col m6 col l4" ng-repeat="staff in koordsInSite">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Koordynator strony
                        <div style="position: absolute; top: 5px; right: 20px; color: white; font-size: 20px; cursor: pointer" ng-show="user.role != 'ZAWODNIK'">
                            <i class="fa fa-times" aria-hidden="true" ng-click="deleteStaff(staff.stid)"></i>
                        </div>
                    </div>
                    <div id='st-{{staff.stid}}' class="row">
                        <div class="col-md-5">
                            <img src="{{staff.user_img_path}}" style='margin-top:20px;' class="circle responsive-img" width="60" height="60" alt="{{staff.firstname}}-{{staff.lastname}}"></img>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class='titleIn'>{{staff.firstname}} {{staff.lastname}}</div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col s12"><strong>nr telefonu</strong></div>
                                <div class="col s12">{{staff.tel}}</div>
                            </div>
                            <div class="row">
                                <div class="col s12"><strong>adres email</strong></div>
                                <div class="col s12">{{staff.email}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 col m6 col l4" ng-repeat="staff in staffMembers">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        {{staff.stname}}
                        <div style="position: absolute; top: 5px; right: 20px; color: white; font-size: 20px; cursor: pointer" ng-show="user.role != 'ZAWODNIK'">
                            <i class="fa fa-times" aria-hidden="true" ng-click="deleteStaff(staff.stid)"></i>
                        </div>
                    </div>
                    <div id='st-{{staff.stid}}' class="row">
                        <div class="col-md-5">
                            <img src="{{staff.user_img_path}}" style='margin-top:20px;' class="circle responsive-img" width="60" height="60" alt="{{staff.firstname}}-{{staff.lastname}}"></img>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class='titleIn'>{{staff.firstname}} {{staff.lastname}}</div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col s12"><strong>nr telefonu</strong></div>
                                <div class="col s12">{{staff.tel}}</div>
                            </div>
                            <div class="row">
                                <div class="col s12"><strong>adres email</strong></div>
                                <div class="col s12">{{staff.email}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-hide='showContent' style="position:relative; margin-top:15%; width: 60%; margin-left: auto; margin-right: auto;">
        <h3 style='text-align:center;'>Wczytywanie zawartości...</h3>
        <div class="preloader-wrapper big active" style="margin-left: 45%">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>