<div ng-init="setPerm(['KOORD','TRENER', 'ZAWODNIK'])"></div>
<div class="row" ng-controller="tabController" ng-init="getLastPost()">
    <div class="col-md-offset-1 col-md-10">
        <div class="form-panel">
            <div class="row">
                <div class="col-xs-9 ">
                    <input id="newPostInput" type="text" class="form-control round-form " name="newPost" placeholder="Podaj tresc postu">
                </div>
                <div class="col-xs-3 centered ">
                    <button class="btn btn-round btn-success " ng-click="addPost()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Dodaj</button>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="form-panel" ng-repeat="ps in posts">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-2 col-md-1">
                            <a href="#!/myProfile"><img src="{{ps.user_img_path}}" class="img-circle" width="55"></a>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <p style="font-weight: bold; font-size: 18px;">{{ps.firstname}} {{ps.lastname}}</p>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <p> {{ps.date_add}} </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-10 col-xs-offset-1">
                        <p>{{ps.content}}</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-9 ">
                        <input type="text " class="form-control round-form " name="newComment" placeholder="Skomentuj post">
                    </div>
                    <div class="col-xs-3 centered ">
                        <button class="btn btn-round btn-success " ng-click="addComment(posts.psid)"><i class="fa fa-commenting" aria-hidden="true"></i> Dodaj</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <ul class="media-list col-xs-10 col-xs-offset-1">
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img src="{{user.imgPath}}" class="img-circle media-object" width="55">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Media heading <span style="font-size:13px;">12-07-2017 13:23</span> </h4>
                                <p>askjdh jaskd nasjkd nasjkd najks dnajks ndajksn jkdansd asj</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- col-lg-12-->
</div>
<!-- /row -->