<div ng-init="setPerm(['KOORD','TRENER','STAFF'])"></div>

<div class="section">
    <div ng-show='showContent' class="row" ng-init="initTeamStats();">

        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Statystyki drużynowe
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col s12" style='margin-top:20px;'>
                                    <div class="row">
                                        <div class="row">
                                            <div class="col s12 m6">
                                                <h5>Aktualna forma dla całej drużyny</h5>
                                                <div style='overflow:hidden' id="fullTeamForm"></div>
                                            </div>
                                            <div class="col s12 m6">
                                                <h5>Aktualna forma zespołu meczowego</h5>
                                                <div style='overflow:hidden' id="actualTeamForm"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h5>Poszczególne zestawienie zawodników w kategoriach</h5>
                                            <div class="input-field col s6 offset-s3 ">
                                                <select id='selectPotential'>
                                                <option value="" disabled selected>Grupy testowe</option>
                                            </select>
                                                <label>Wybierz grupę testową</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='overflow:hidden' id="chart-main"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-hide='showContent' style="position:relative; margin-top:15%; width: 60%; margin-left: auto; margin-right: auto;">
        <h3 style='text-align:center;'>Wczytywanie zawartości...</h3>
        <div class="preloader-wrapper big active" style="margin-left: 45%">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        setTimeout(function() {
            Materialize.updateTextFields();
            $('select').material_select();
        }, 500);
    });
</script>