#calendar {
    padding: 0px !important;
}

.external-event {
    cursor: move;
    display: inline-block !important;
    margin-bottom: 7px !important;
    margin-right: 7px !important;
    padding: 10px;
}

.drop-after {
    padding-top: 15px;
    margin-top: 15px;
}
