#calendar {
    padding: 0px !important;
}

.external-event {
    cursor: move;
    display: inline-block !important;
    margin-bottom: 7px !important;
    margin-right: 7px !important;
    padding: 10px;
}

.drop-after {
    padding-top: 15px;
    margin-top: 15px;
}

#addEventForm>.form-group {
    margin-bottom: 0;
    padding-bottom: 0;
}

.colorPickerCalendar {
    width: 100%;
    overflow: hidden;
    padding: 5px;
    padding-bottom: 15px;
}

.colorPickerCalendar label {
    width: 100%;
    float: left;
}

.colorPink {
    background: #de5c8a;
}

.colorPurple {
    background: #8754a3;
}

.colorRoyal {
    background: #5579b7;
}

.colorTurquoise {
    background: #17ae9f;
}

.colorPink,
.colorPurple,
.colorRoyal,
.colorTurquoise {
    height: 15px;
    width: 25%;
    transition: border .2s;
    float: left;
}

.colorPink:hover,
.colorPurple:hover,
.colorRoyal:hover,
.colorTurquoise:hover {
    cursor: pointer;
    border: 1px solid black;
    transition: border .2s;
}

.borderSelectedColor {
    margin: 5px;
    margin-bottom: 5px !important;
    border: 2px solid #0099ff;
    border-radius: 5px;
}
