<div ng-init="setPerm(['ZAWODNIK'])"></div>

<div class="section">
    <div ng-show='showContent' class="row" ng-init="initMyStats();">

        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Statystyki
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <div class="row">
                                <div class="row">
                                    <div class="input-field col s6 m5 offset-m1">
                                        <select id='selectPotential'>
                                        <option value="" disabled selected>Grupy testowe</option>
                                    </select>
                                        <label>Wybierz grupę testową</label>
                                    </div>
                                    <div class="input-field col s6 m5">
                                        <select id='selectDataType'>
                                        <option value="" disabled >Sposób wyświetlania</option>
                                        <option value="tabele" selected>Tabela</option>
                                        <option value="wykresy">Wykres</option>
                                    </select>
                                        <label>Wybierz sposób prezentacji danych</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <h6 style="text-align:center; width: 100%">Moja aktualna forma</h6>
                                </div>
                                <div class="col s12">
                                    <div id="main-summary-chart"></div>
                                </div>
                                <div ng-hide='showPreLoad' class="col s12" style='margin-top: 40px;'>
                                    <h6 style="text-align:center; width: 100%" ng-show="acutalSelectedGroupTest.length > 0">Wyniki w poszczególnych testach</h6>
                                </div>
                                <div ng-hide='showPreLoad' class="col s12" style='margin-top:20px;'>
                                    <div class="row">

                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li ng-repeat="test in acutalSelectedGroupTest " ng-init='initChart()'>
                                                <div style='position: relative' class="collapsible-header optionsToShow" ng-class="{active: test.name === 'Podsumowanie'}">{{test.name}}
                                                    <div style='width: 50px; float:right;' id='chart-percent-{{test.id}}'></div>
                                                </div>
                                                <div class="collapsible-body">
                                                    <div class="row">
                                                        <div>
                                                            <table ng-show='dataViewAsTable' class='highlight responsive-table centered'>
                                                                <thead>
                                                                    <tr>
                                                                        <th style="padding: 2px 2px">Wynik</th>
                                                                        <th style="padding: 2px 2px">Data</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-show='test.scores.length > 0' ng-repeat="score in test.scores">
                                                                        <td style="padding: 2px 2px">{{score.wynik}}</td>
                                                                        <td style="padding: 2px 2px">{{score.data}}</td>
                                                                    </tr>
                                                                    <tr ng-show='test.scores.length <= 0 || test.scores == null'>
                                                                        <td colspan='3'>Brak danych</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div ng-hide='dataViewAsTable' style='overflow:hidden;' class="row" id="chart-{{test.id}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-hide='showContent' style="position:relative; margin-top:15%; width: 60%; margin-left: auto; margin-right: auto;">
        <h3 style='text-align:center;'>Wczytywanie zawartości...</h3>
        <div class="preloader-wrapper big active" style="margin-left: 45%">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        setTimeout(function() {
            Materialize.updateTextFields();
            $('select').material_select();
        }, 500);
    });
</script>