<div ng-init="setPerm(['KOORD','TRENER','STAFF'])"></div>

<div class="section">
    <div ng-show='showContent' class="row" ng-init="initTeamStats();">

        <div class="col s12 l10 offset-l1">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Statystyki drużynowe
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col s12" style='margin-top:20px;'>
                                    <div class="row">
                                        <div style="display:flex">
                                            <div class="f50">
                                                <canvas style='overflow:hidden' id="fullTeamForm"></canvas>
                                            </div>
                                            <div class="f50">
                                                <canvas style='overflow:hidden' id="actualTeamForm"></canvas>
                                            </div>
                                        </div>
                                        <div style="display:flex" style='margin-top: 30px !important;'>
                                            <div class="f50">
                                                <canvas style='overflow:hidden' id="teamChartRadar"></canvas>
                                            </div>
                                            <div class="f50">
                                                <canvas style='overflow:hidden' id="teamMatchChartRadar"></canvas>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h5>Poszczególne zestawienie zawodników</h5>
                                        </div>
                                        <div class="row">
                                            <div class="card-tabs noPrint">
                                                <ul class="tabs tabs-fixed-width" ng-init="cat=1;">
                                                    <li class="tab"><a class="active" href="" ng-click='cat=1; tt=0;'>Kategorie</a></li>
                                                    <li class="tab"><a href="" ng-click='cat=0; tt=1;'>Testy</a></li>
                                                </ul>
                                            </div>
                                            <div class="card-content page-break">
                                                <div ng-show="cat">
                                                    <div class="row" style='padding: 50px;'>
                                                        <div class="col s12">
                                                            <canvas id="chart-main" style='min-height: 600px'></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="tt">
                                                    <div class="row" style='padding: 50px;'>
                                                        <div class="col s12">
                                                            <div class="col s6">
                                                                <select id='categoryTestSelect'>
                                                                </select>
                                                            </div>
                                                            <div class="col s6" ng-show="showTestSelect">
                                                                <select id='testSelect'>
                                                                        </select>
                                                            </div>
                                                        </div>
                                                        <div class="col s12">
                                                            <canvas id="testChart" style='min-height: 600px'></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="adw noPrint" ng-show='showAdw'>
        <div class="closeAdw" ng-click='turnOffAdw()'><i class="fa fa-window-close" aria-hidden="true"></i></div>
        <div class="adwContent">
            <div class="logoButtonColumn">
                <img src="./modules/StatsManager/assets/media/logo4.png" alt="Logo firmy 4-athletes">
                <button class="waves-effect waves-light btn"> <a target="_blank" href="http://www.4-athletes.com" style='color: white;'>Sprawdź</a> </button>
            </div>
            <div class="textColumn">
                Chcesz przeprowadzić testy w pełni profesjonalnie? </br>
                Zależy Ci na jak najbardziej rzetelnych i precyzyjnych wynikach? </br>
                Polecamy zapoznać się z ofertą firmy 4-Athletes! </br>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        setTimeout(function() {
            Materialize.updateTextFields();
            $('select').material_select();
            $('ul.tabs').tabs();
        }, 500);
    });
</script>