<div ng-init="setPerm(['KOORD','TRENER','STAFF'])"></div>
<a ng-click="getTutorial('edytuj_testy')" class="btn-floating btn-large waves-effect waves-light tutorialOnButton"  ng-show="user && user.role != 'ZAWODNIK'">
    <i class="fa fa-question"></i>
</a>
<div class="section" ng-init="getAllPlayers()" style='position: relative'>
    <div ng-show='showContent' class="row" ng-init="initTestMenager();">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        KATEGORIE
                    </div>
                    <div class="row">
                        <div class="row noPrint">
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="categoryName" type="text" name="categoryName" placeholder="Nazwa kategorii" class="validate">
                                        <label for="categoryName">Nazwa kategorii</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <button class="waves-effect waves-light btn" ng-click="addCategory();">Dodaj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table highlight">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Nazwa</th>
                                        <th style="text-align:center;">Ilość dostępnych testów</th>
                                        <th style="text-align:center;">Usuwanie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="category in categories" id='category-{{category.id}}' class='category-item'>
                                        <td style='cursor:pointer; text-align:center; padding: 10px 0 !important;' ng-click='selectCategory(category.id)' style='padding: 5px;'>{{category.name}}</td>
                                        <td style='cursor:pointer;  text-align:center; padding: 10px 0 !important;' ng-click='selectCategory(category.id)' style='padding: 5px;'>{{category.testCount}}</td>
                                        <td ng-click="deleteCategory(category.id)" style='padding: 10px 0 !important; color:red; cursor:pointer;  text-align:center;'>
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        TESTY
                    </div>
                    <div class="row" ng-show="showTest">
                        <div class="row noPrint">
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="maxScore" type="text" name="maxScore" placeholder="Najlepszy możliwy wynik" class="validate">
                                        <label for="maxScore">Najlepszy możliwy wynik</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="minScore" type="text" name="minScore" placeholder="Najgorszy możliwy wynik" class="validate">
                                        <label for="minScore">Najgorszy możliwy wynik</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="testName" type="text" name="testName" placeholder="Nazwa testu" class="validate">
                                        <label for="testName">Nazwa testu</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="unitType" type="text" name="unitType" placeholder="Jednostka miary" class="validate">
                                        <label for="unitType">Jednostka miary</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6 offset-s6">
                                        <button class="waves-effect waves-light btn" ng-click="addTest();">Dodaj</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <table class="table highlight">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Nazwa</th>
                                        <th style="text-align:center;">Maks wynik</th>
                                        <th style="text-align:center;">Min wynik</th>
                                        <th style="text-align:center;">Jednsotka</th>
                                        <th style="text-align:center;">Usuń</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in tests" class='test-item'>
                                        <td style='text-align:center; padding: 10px 0 !important'>{{test.name}}</td>
                                        <td style='text-align:center; padding: 10px 0 !important'>
                                            <input style="text-align: center; margin: 0; width: 50px; height: 25px;" class='changeBest' id="changeBest-{{test.id}}" type="text" value="{{test.best}}" required>
                                        </td>
                                        <td style='text-align:center; padding: 2px 0'>
                                            <input style="text-align: center; margin: 0; width: 50px; height: 25px;" class='changeWorst' id="changeWorst-{{test.id}}" type="text" value="{{test.worst}}" required>
                                        </td>
                                        <td style='text-align:center; padding: 2px 0'>
                                            <input style="text-align: center; margin: 0; width: 50px; height: 25px;" class='changeUnit' id="changeUnit-{{test.id}}" type="text" value="{{test.unit}}" required>
                                        </td>
                                        <td ng-click="deleteTest(test.id)" style='padding: 2px 0; color:red; cursor:pointer;  text-align:center;'>
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-hide="showTest">
                        <div class="titleIn" style='margin-top:10px;'>Wybierz kategorie, aby mieć możliwość podglądu oraz dodawania testów</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="adw noPrint" ng-show='showAdw'>
        <div class="closeAdw" ng-click='turnOffAdw()'><i class="fa fa-window-close" aria-hidden="true"></i></div>
        <div class="adwContent">
            <div class="logoButtonColumn">
                <img src="./modules/StatsManager/assets/media/logo4.png" alt="Logo firmy 4-athletes">
                <button class="waves-effect waves-light btn"> <a target="_blank" href="http://www.4-athletes.com" style='color: white;'>Sprawdź</a> </button>
            </div>
            <div class="textColumn">
                Chcesz przeprowadzić testy w pełni profesjonalnie? </br>
                Zależy Ci na jak najbardziej rzetelnych i precyzyjnych wynikach? </br>
                Polecamy zapoznać się z ofertą firmy 4-Athletes! </br>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            M.updateTextFields();
            $('select').formSelect();
        }, 500);
    });
</script>