<div ng-init="setPerm(['STAFF','TRENER','KOORD'])"></div>
<div class="section">
    <div ng-show='showContent' class="row">
        <div class="col s12 noPrint">
            <div class="card">
                <div class="card-content" style='padding-bottom: 0 !important;'>
                    <div class="card-title">
                        Filtr wyszukiwania
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <input id='changeFilter' type="text" placeholder='Wpisz szukaną frazę, tag, nazwę' ng-model='searchText'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m10 offset-m1">
            <div class="card">
                <div class="card-content" style='padding-bottom: 0 !important;'>
                    <div class="card-title" style='margin-bottom: 0 !important; text-align:left;'>
                        Lista testów
                    </div>
                    <div class="row">

                        <!-- Tutaj zaczynamy tworzyc nasz szablon, czemu ? Poniewaz tutaj uzylismy dyrektywy ng-repeat -->
                        <ul class="collapsible" data-collapsible="accordion" style='margin: 20px;'>
                            <li ng-repeat="training in trainingBase | filter:searchText" class="page-break">
                                <!-- dokladnie tutaj jest ng-repeat -->
                                <!-- ten element bedzie sie powtarzal tyle razy ile jest obiektow w naszej tablicy w jsie  -->
                                <!-- w zmiennej  'training' jest jeden obiekt, wyrenderuja sie kolejno wszystkie  -->
                                <div class="collapsible-header trainingName">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    <h5>{{training.name}}</h5>
                                    <!-- wyswietlenie prostej zmiennej obiektu -->
                                </div>
                                <div class="collapsible-body textToLeft">
                                    <b>Kategoria wiekowa: </b>{{training.ageCategory}}</br>
                                    </br>
                                    <b>Wyposażenie: </b>{{training.equipment}}</br>
                                    </br>
                                    <!-- wyswietlenie prostej zmiennej obiektu -->

                                    <!-- chciales sobie wyswietlic liste, powiedzmy ze w obiekt ma zmienna 'kolejnaWlasnoscJakoTablica'
                                    mozemy jej kolejne wartosci wyswietlic znow za pomoca ng-repeat
                                    tworzymy wiec jakis element z dyrektywa-->

                                    <!-- nowy  div bedzie sie tworzyl kolejno z kazda wartoscia z 'kolejnaWlasnoscJakoTablica' -->
                                    <b>Wykonanie: </b>
                                    <div ng-repeat="jednaWartosc in training.execution">
                                        {{ jednaWartosc }}
                                    </div>
                                    </br>
                                    <b>Punktacja: </b>
                                    <div ng-repeat="jednaWartosc in training.scoring">
                                        {{ jednaWartosc }}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- ng-repeat stworzy sobie kolejne <ul> wedlug tego wzoru u gory -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="adw noPrint" ng-show='showAdw'>
        <div class="closeAdw" ng-click='turnOffAdw()'><i class="fa fa-window-close" aria-hidden="true"></i></div>
        <div class="adwContent">
            <div class="logoButtonColumn">
                <img src="./modules/StatsManager/assets/media/logo4.png" alt="Logo firmy 4-athletes">
                <button class="waves-effect waves-light btn"> <a target="_blank" href="http://www.4-athletes.com" style='color: white;'>Sprawdź</a> </button>
            </div>
            <div class="textColumn">
                Chcesz przeprowadzić testy w pełni profesjonalnie? </br>
                Zależy Ci na jak najbardziej rzetelnych i precyzyjnych wynikach? </br>
                Polecamy zapoznać się z ofertą firmy 4-Athletes! </br>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        setTimeout(function(){
            $('.collapsible').collapsible();
        },300);
    });
</script>