<div ng-init="setPerm(['KOORD','TRENER','STAFF'])"></div>

<div class="section">
    <div ng-show='showContent' class="row" ng-init="initUsersStats();">

        <div class="col s12 l10 offset-l1">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Statystyki zawodników
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <div class="row">
                                <div class="row" ng-hide='showPreLoad' style='margin-bottom: 20px !important;'>
                                    <div style="display:flex">
                                        <div class="f50"><canvas id="main-summary-chart"></canvas></div>
                                        <div class="f50"><canvas id="main-summary-chart-radar"></canvas></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m4 ">
                                        <select id='selectUserToStat'>
                                            <option value="" disabled selected>Zawodnik</option>
                                        </select>
                                        <label>Wybierz zawodnika</label>
                                    </div>
                                    <div class="input-field col s12 m4  " ng-show="showTestAndType">
                                        <select id='selectPotential'>
                                            <option value="" disabled selected>Grupy testowe</option>
                                        </select>
                                        <label>Wybierz grupę testową</label>
                                    </div>
                                    <div class="input-field col s12 m4 noPrint" ng-show="showTestAndType">
                                        <select id='selectDataType'>
                                            <option value="" disabled >Sposób wyświetlania</option>
                                            <option value="tabele" selected>Tabela</option>
                                            <option value="wykresy">Wykres</option>
                                        </select>
                                        <label>Wybierz sposób prezentacji danych</label>
                                    </div>
                                </div>
                                <div ng-hide='showPreLoad' class="col s12">
                                    <div class="row">
                                        <div class="col s12">
                                            <div ng-repeat="test in acutalSelectedGroupTest " style='margin-top:50px;' class="page-break">
                                                <div class="row">
                                                    <div class="col s12 m8">
                                                        <h5><b>{{test.name}}</b></h5>
                                                        <p>Najlepszy możliwy wynik: <b class='bestSc'>{{test.best}}</b></p>
                                                        <p>Najgorszy możliwy wynik: <b class='worstSc'>{{test.worst}}</b></p>
                                                        <p>Jednostka miary: <b class='worstSc'>{{test.unit}}</b></p>
                                                    </div>
                                                    <div class="col s12 m4">
                                                        <canvas style='width: 50px; float:right;' id='chart-percent-{{test.id}}'></canvas>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <table ng-show='dataViewAsTable' class='highlight centered statTable' style='margin-top:10px;'>
                                                        <thead>
                                                            <tr>
                                                                <th style="padding: 2px 2px">Wynik</th>
                                                                <th style="padding: 2px 2px">Data</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-show='test.scores.length > 0' ng-repeat="score in test.scores">
                                                                <td style="padding: 2px 2px">{{score.wynik}}{{score.unit | limitTo: 1}}.</td>
                                                                <td style="padding: 2px 2px">{{score.data.split(' ')[0]}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="col s12 " ng-hide='test.scores.length <= 0 || test.scores == null'>
                                                        <canvas ng-hide='dataViewAsTable' style='overflow:hidden;' class="row" id="chart-{{test.id}}"></canvas>
                                                    </div>
                                                    <div class="col s12">
                                                        <div ng-show='test.scores.length <= 0 || test.scores == null'>
                                                            <h5>Brak danych</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="adw noPrint" ng-show='showAdw'>
        <div class="closeAdw" ng-click='turnOffAdw()'><i class="fa fa-window-close" aria-hidden="true"></i></div>
        <div class="adwContent">
            <div class="logoButtonColumn">
                <img src="./modules/StatsManager/assets/media/logo4.png" alt="Logo firmy 4-athletes">
                <button class="waves-effect waves-light btn"> <a target="_blank" href="http://www.4-athletes.com" style='color: white;'>Sprawdź</a> </button>
            </div>
            <div class="textColumn">
                Chcesz przeprowadzić testy w pełni profesjonalnie? </br>
                Zależy Ci na jak najbardziej rzetelnych i precyzyjnych wynikach? </br>
                Polecamy zapoznać się z ofertą firmy 4-Athletes! </br>
            </div>
        </div>
    </div>
    <div ng-hide='showContent' class='loaderContainer'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
    </div>

</div>


<script>
    $(document).ready(function() {
        setTimeout(function() {
            Materialize.updateTextFields();
            $('select').material_select();
        }, 500);
    });