/* --- MAIN --- */

body {
    background: #eaeaea;
    color: #4e4e4e;
}

a {
    color: #da5d4e;
}

a:hover {
    color: #ec1800;
}

#loadingContent {
    background: #222222;
}

.btn {
    background-color: #a51100;
}

.btn:hover {
    background-color: #ec1800;
}

.btn:focus {
    background-color: #a51100;
}

table.highlight>tbody>tr:hover {
    background-color: #eaeaea;
}

.tab a.active {
    background-color: #fff !important;
    color: #a51100 !important;
}

.tabs .tab a {
    background-color: #fff !important;
    color: #a51100 !important;
}

.tabs .tab a:hover {
    color: #ec1800 !important;
}

.gritter-item {
    background: #2a2a2a !important;
    border-top: 4px solid #a51100;
}

.collapsible-body {
    background-color: #fff;
}

.c3-chart-arcs .c3-chart-arcs-background {
    fill: #eaeaea;
}

.c3-chart-arc .c3-gauge-value {
    fill: #777 !important;
}

.c3 text {
    fill: #4e4e4e;
}

text tspan {
    fill: #4e4e4e;
}

.c3 path {
    stroke: #4e4e4e;
}

.secondary-content {
    color: #a51100;
}


/* --- SIDEBAR --- */

#sidebar {
    background: #1a1a1a;
}

ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
    background: rgba(0, 0, 0, 0.2);
    border-left: solid 1px #ec1800;
}

ul.sidebar-menu li ul.sub li {
    background: rgba(0, 0, 0, 0.2);
}

.sidebar-menu .select-dropdown {
    border-bottom-color: #ec1800 !important;
}

.dropdown-content li:hover {
    background-color: #fff;
}

.dropdown-content {
    background-color: #eaeaea;
}

.dropdown-content li.active {
    background-color: #eaeaea;
}

.dropdown-content li.selected {
    background-color: #fff;
}

.dropdown-content li>span {
    color: #4e4e4e;
}

.input-field label {
    color: rgb(144, 144, 144);
}


/* --- TOPBAR --- */

.topbar {
    background: #a32d1f;
}

nav ul a:hover {
    color: #ec1800;
}

.fa-color {
    color: #fff;
    transition: all .2s;
}

.fa-color:hover {
    color: rgba(255, 255, 255, 0.5);
}

.notifyContenerTitle {
    background: #2a2a2a;
}

.notif a {
    background: #FFFFFF !important;
}

.notfi a:hover {
    background: #C4C4C4 !important;
}

.topbar span.badge.new {
    background-color: #2a2a2a;
}


/* --- HOME PANEL --- */

.eventTableDashboard li,
.todoTable li {
    background: white;
}

.card {
    background: #f9f9f9;
    ;
}

.card-title {
    background: white;
    color: black;
}

.card-title:after {
    background: #ee6e73;
}

.events-text-color {
    color: #7f7f7f;
}

#todoText {
    background: #fff;
}

#todoButton {
    background: #fff;
    color: #7f7f7f;
}

#todoButton .fa-plus:hover {
    color: #a51100;
}


/* --- MY PROFILE PANEL --- */

.validate {
    color: #4e4e4e;
}

input[type=text]:not(.browser-default):disabled {
    color: rgba(0, 0, 0, 0.26);
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ec1800;
    box-shadow: 0 1px 0 0 #ec1800;
}

input:not([type]):disabled+label,
input:not([type])[readonly="readonly"]+label,
input[type=text]:not(.browser-default):disabled+label,
input[type=text]:not(.browser-default)[readonly="readonly"]+label,
input[type=password]:not(.browser-default):disabled+label,
input[type=password]:not(.browser-default)[readonly="readonly"]+label,
input[type=email]:not(.browser-default):disabled+label,
input[type=email]:not(.browser-default)[readonly="readonly"]+label,
input[type=url]:not(.browser-default):disabled+label,
input[type=url]:not(.browser-default)[readonly="readonly"]+label,
input[type=time]:not(.browser-default):disabled+label,
input[type=time]:not(.browser-default)[readonly="readonly"]+label,
input[type=date]:not(.browser-default):disabled+label,
input[type=date]:not(.browser-default)[readonly="readonly"]+label,
input[type=datetime]:not(.browser-default):disabled+label,
input[type=datetime]:not(.browser-default)[readonly="readonly"]+label,
input[type=datetime-local]:not(.browser-default):disabled+label,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"]+label,
input[type=tel]:not(.browser-default):disabled+label,
input[type=tel]:not(.browser-default)[readonly="readonly"]+label,
input[type=number]:not(.browser-default):disabled+label,
input[type=number]:not(.browser-default)[readonly="readonly"]+label,
input[type=search]:not(.browser-default):disabled+label,
input[type=search]:not(.browser-default)[readonly="readonly"]+label,
textarea.materialize-textarea:disabled+label,
textarea.materialize-textarea[readonly="readonly"]+label {
    color: rgb(144, 144, 144);
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #a51100;
}


/* --- MY REPORTS --- */

.reports-bg {
    background: #fff;
}


/* --- FREQUENCY PANEL --- */

.freqTable tbody tr {
    background-color: #fff;
    transition: background-color .2s;
}

.freqTable tbody tr:hover {
    background-color: #eaeaea;
    transition: background-color .2s;
}

input[type=checkbox]:checked+.lever:after {
    background-color: #ec1800 !important;
}

input[type=checkbox]:checked+.lever {
    background-color: #a51100 !important;
}


/* --- CALENDAR --- */

#calendar {
    color: #4e4e4e;
}

.fc-state-default,
.fc-state-default .fc-button-inner {
    background: transparent;
}

.fc-button-inner:hover {
    background: #eaeaea;
}

.fc-state-active .fc-button-inner {
    background: #fff;
}

.fc-state-active,
.fc-state-active .fc-button-inner {
    background: #eaeaea;
    color: #4e4e4e;
}

.fc-widget-header {
    color: #4e4e4e;
    border: 1px solid #eaeaea;
    background: #eaeaea;
}

.fc-state-highlight {
    background: #eaeaea;
}

.fc-widget-content {
    color: #4e4e4e;
    border: 1px solid #eaeaea;
}

.fc-event-skin {
    border-color: #ec1800;
    background-color: #ec1800;
}

.fc-event-skin {
    color: #fff;
}

.fc-event-time {
    letter-spacing: 2px;
}

.fc-grid .fc-event-time {
    font-weight: normal !important;
}


/* --- SHOW PLAYERS PANEL --- */

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #ec1800;
    border-bottom: 2px solid #ec1800;
}


/* --- PAYMENTS IN DASHBOARD --- */

.paymentPrice {
    color: rgb(16, 29, 37);
}